<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12  pt-3 ">
        <div class="rounded-lg border shadow-sm bg-white">
            <div class="d-flex justify-content-between rounded-sm p-3  ">
                <div class=" font-weight-bolder dashboard-header-text">Influencer Samples Development</div>
            </div>


            <div class=" pr-4 pl-4 pb-3">
                <div class="form-group">

                    <div class="row mt-3">

                        <div class="col-12">
                            <div class="d-flex justify-content-between pl-4 pr-5  align-self-center">
                                <button class=" btn view-details ml-3">Filter</button>
                                <h6 class="influencer-text">COLLECTION NAME
                                    <br>
                                    <span class="influencer-details">
                                        The Stellar Collection
                                    </span>
                                </h6>
                                <h6 class="influencer-text">INFLUENCER NAME
                                    <br>
                                    <span class="influencer-details">
                                        Gemma Cheung
                                    </span>
                                </h6>
                                <div class="on-track align-self-center p-2 pl-4 pr-4">70% on Track</div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12 ">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>SAMPLES</th>
                                                    <th>TOTAL ITEMS</th>
                                                    <th>DATE REQUESTED</th>
                                                    <th>DATE SHIPPED</th>
                                                    <th>TURN AROUND TIME</th>
                                                    <th>DATE RECEIVED</th>
                                                    <th>DATE FEEDBACK</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Born to Sweat </td>
                                                    <td>26-Oct-20</td>
                                                    <td>19,322.22</td>
                                                    <td>2,242.23</td>
                                                    <td>1,522.24</td>
                                                    <td>1,522.24</td>
                                                    <td>1,522.24</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>