
.pull__right .items {
    margin-left: 10px;
}


.col-lg-4.col-md-12.col-sm-12.mt-3.items__right {
    text-align: right;
    margin-top: unset !important;
    padding-right: unset !important;
}

button.btn-md.btn-i.items.items__button {
    padding: 9px;
    margin: 12px;
    width: 68%;
    border-radius: 6px;
    border: #efefef;
}
.row.custom__items.border.rounded-sm.bg-light.text-dark.pl-3.pr-3 {
    padding-right: unset !important;
    padding-left: unset !important;
}
.leave__comment {
    margin-bottom: unset !important;
    margin-top: unset !important;
    padding: 24px;
}
.items__right .items {
    padding: 5px;
}
.row.custom__items.border.rounded-sm.bg-light.text-dark.pl-3.pr-3 {
    padding: 7px;
    margin-right: 5px;
    margin-left: 5px;
}
.title__comments .header-text {
    padding: 3px;
    margin: 16px;
}
.header-text span {
    margin-right: 5px;
}   

select.form-select {
    font-size: 14px;
    padding: 9px;
}   
.tab__inside {
    padding: 6px;
    margin: 22px;
}
.col-sm-11.display__width select.form-select {
    width: 100%;
}
.col-sm-1.paragraph__alignright {
    text-align: right;
    font-weight: 900;
    padding: 13px;
}
.row.p__7s {
    margin-top: 17px;
}
span.time {
    margin-left: 28px;
}
span.badge.badge-success {
    padding: 2px;
    height: 11px;
    width: 11px;
    margin-right: 8px;
    border-radius: 8px;
}
ul.comment__list {
    list-style: none;
}
li.list {
    padding: 18px;
    line-height: 0px;
}
li.list.date {
    font-size: 15px;
    font-weight: 800;
    color: #595757;
}
.col-md-4.date__comments p {
    padding: 31px;
}
.row.custom__items .row {
    margin-top: 12px;
}
hr.avacado__color {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 4px solid rgb(124 142 97);
}
.text-light {
    background: #7c8e61;
}

.items__left input {
    margin: 16px !important;
}
.col-lg-3.col-md-12.col-sm-12.mt-3.items__right {
    margin-top: 0 !important;
}
.comment__area {
    margin: 11px;
    padding: 12px;
    border-bottom: 1px solid #7c8e61;
}
.comment__area.first_reply {
    padding: 7px;
    margin-left: 73px;
}
.d-flex.title__comments h4.header-text {
    font-size: 15px !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
}
p.list.date {
    color: #000000;
    font-weight: bold;
    font-size: 16px;
}
div#comment_section {
    margin-top: 24px !important;
}
.active h4 {
    color: #7c8e61;
    opacity: 2;
}
a:hover {
    text-decoration: none;
}
.nav-tabs {
    width: 100%;
}