@inherits LayoutComponentBase


<ul class="nav justify-content-center border border-left-0 border-top-0 border-right-0 scrollmenu nav-menu">
    
    <li class="nav-item">
        <NavLink class="nav-link" href="/collectionandproduct" Match="NavLinkMatch.All">
            <span aria-hidden="true"></span> Dashboard
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/collectionandproduct/collection" Match="NavLinkMatch.All">
            <span aria-hidden="true"></span> Collections
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/collectionandproduct/product" Match="NavLinkMatch.All">
            <span aria-hidden="true"></span> Product
        </NavLink>
    </li>
     <li class="nav-item">
        <NavLink class="nav-link" href="/collectionandproduct/calendar" Match="NavLinkMatch.All">
            <span aria-hidden="true"></span> Calendar
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/collectionandproduct/bom" Match="NavLinkMatch.All">
            <span aria-hidden="true"></span> BOMS
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/collectionandproduct/samples" Match="NavLinkMatch.All">
            <span aria-hidden="true"></span> SAMPLES
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/collectionandproduct/OEM" Match="NavLinkMatch.All">
            <span aria-hidden="true"></span> OEM
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/collectionandproduct/files" Match="NavLinkMatch.All">
            <span aria-hidden="true"></span> Files
        </NavLink>
    </li>
</ul>

