
    <nav class="navbar navbar-expand-md justify-content-center navbar-toggler-right">
        <div class="">
            <div class="float-right">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#collapsibleNavbar">
                <img src="/img/hamburger-icon.svg">
            </button>
            </div>
        <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        <span class="fa-stack fa-2x mx-auto">
                            <i class="fa fa-square fa-stack-2x fa-5x" aria-hidden="true"></i>
                            <i class="fa fa-paint-brush d-block fa-stack-1x fa-inverse" aria-hidden="true"></i>
                        </span>Designs
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item pt-3 pb-3 pl-3" href="influencer/design/inspiration">Inspiration</a>
                        <a class="dropdown-item pt-3 pb-3 pl-3 border-top" href="influencer/design/designimage">Design
                            Images</a>
                        <a class="dropdown-item pt-3 pb-3 pl-3 border-top"
                            href="influencer/design/virtualfitting">Virtual Fitting</a>
                        <a class="dropdown-item pt-3 pb-3 pl-3 border-top" href="influencer/design/sampleimages">Sample
                            Images</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        <span class="fa-stack fa-2x mx-auto">
                            <i class="fa fa-square fa-stack-2x fa-5x" aria-hidden="true"></i>
                            <i class="fa fa-paint-brush d-block fa-stack-1x fa-inverse" aria-hidden="true"></i>
                        </span>Your Landing Page
                    </a>
                    <div class="dropdown-menu">
                        <button class="dropdown-item pt-3 pb-3 pl-3" data-toggle="modal" data-target="#yourBio">Your Bio</button>
                        <button class="dropdown-item pt-3 pb-3 pl-3 border-top" data-toggle="modal" data-target="#yourLogo">Your
                            Logo</button>
                        <button class="dropdown-item pt-3 pb-3 pl-3 border-top" data-toggle="modal" data-target="#yourHero">Your
                            Hero Images</button>
                    </div>
                </li>
                @* <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    <span class="fa-stack fa-2x mx-auto">
                    <i class="fa fa-square fa-stack-2x fa-5x" aria-hidden="true"></i>
                    <i class="fa fa-video-camera d-block fa-stack-1x fa-inverse" aria-hidden="true"></i>
                    </span> Photos and Videos
                    </a>
                    <div class="dropdown-menu">
                    <a class="dropdown-item pt-3 pb-3 pl-3" href="influencer/photosandvideos/photos">Photos</a>
                    <a class="dropdown-item pt-3 pb-3 pl-3 border-top" href="influencer/photosandvideos/videos">Videos</a>
                    <a class="dropdown-item pt-3 pb-3 pl-3 border-top" href="influencer/photosandvideos/guide">Guide</a>
                    </div>
                    </li> *@
                @* <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    <span class="fa-stack fa-2x mx-auto">
                    <i class="fa fa-square fa-stack-2x fa-5x" aria-hidden="true"></i>
                    <i class="fa fa-rocket d-block fa-stack-1x fa-inverse" aria-hidden="true"></i>
                    </span>Launch Plan
                    </a>
                    <div class="dropdown-menu">
                    <a class="dropdown-item pt-3 pb-3 pl-3" href="influencer/design/image">Instagram</a>
                    <a class="dropdown-item pt-3 pb-3 pl-3 border-top" href="influencer/design/image">YouTube</a>
                    <a class="dropdown-item pt-3 pb-3 pl-3 border-top" href="influencer/design/image">TikTok</a>
                    </div>
                    </li> *@
                @* <li class="nav-item">
                    <a class="nav-link" href="#">
                    <span class="fa-stack fa-2x mx-auto">
                    <i class="fa fa-square fa-stack-2x fa-5x" aria-hidden="true"></i>
                    <i class="fa fa-rocket d-block fa-stack-1x fa-inverse" aria-hidden="true"></i>
                    </span>Sales
                    </a>
                    </li> *@
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        <span class="fa-stack fa-2x mx-auto">
                            <i class="fa fa-square fa-stack-2x fa-5x" aria-hidden="true"></i>
                            <i class="fa fa-usd d-block fa-stack-1x fa-inverse" aria-hidden="true"></i>
                        </span>Financials
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item pt-3 pb-3 pl-3" href="influencer/financials/bankdetails">Bank
                            Details</a>
                        <a class="dropdown-item pt-3 pb-3 pl-3 border-top" href="influencer/financials/sales">Sales</a>
                        <a class="dropdown-item pt-3 pb-3 pl-3 border-top"
                            href="influencer/financials/revenuerelease">Revenue Release</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        <span class="fa-stack fa-2x mx-auto">
                            <i class="fa fa-square fa-stack-2x fa-5x" aria-hidden="true"></i>
                            <i class="fa fa-book d-block fa-stack-1x fa-inverse" aria-hidden="true"></i>
                        </span>Guides Resources
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item pt-3 pb-3 pl-3" href="#">Instagram Launch Guide</a>
                        <a class="dropdown-item pt-3 pb-3 pl-3 border-top" href="influencer/design/image">Photography
                            Guide</a>
                        <a class="dropdown-item pt-3 pb-3 pl-3 border-top" href="influencer/design/image">Design
                            Process</a>
                        <a class="dropdown-item pt-3 pb-3 pl-3 border-top" href="influencer/design/image">Influencer
                            Journey</a>
                        <a class="dropdown-item pt-3 pb-3 pl-3 border-top" href="influencer/design/image">YouTube Launch
                            Plan</a>
                        <a class="dropdown-item pt-3 pb-3 pl-3 border-top" href="influencer/design/image">Product
                            Offering</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="influencer/checklist/checklist">
                        <span class="fa-stack fa-2x mx-auto">
                            <i class="fa fa-square fa-stack-2x fa-5x" aria-hidden="true"></i>
                            <i class="fa fa-rocket d-block fa-stack-1x fa-inverse" aria-hidden="true"></i>
                        </span>Checklist
                    </a>
                </li>
            </ul>
        </div>
    </div>
    </nav>


<ModalYourBio/>
<ModalYourLogo/>
<ModalYourHeroImages/>