<div class="col-md-12 mt-5">
    <ul class="nav nav-tabs-views nav justify-content-center scrollmenu nav-menu settings__navs">
        <li><a data-toggle="tab" href="#inventorycategory" class="active">Inventory Category</a></li>
        <li><a data-toggle="tab" href="#section">Section</a></li>
        <li><a data-toggle="tab" href="#colortype">Color Type</a></li>
        <li><a data-toggle="tab" href="#threadtype">Thread Type</a></li>
        <li><a data-toggle="tab" href="#greigetype">Greige Type</a></li>
        <li><a data-toggle="tab" href="#warehouse">Warehouse</a></li>

    </ul>
</div>

<div class="col-md-12">
    <div class="tab-content">
        <div id="inventorycategory" class="tab-pane fade in active show">
            <InventoryCategory></InventoryCategory>
        </div>
        <div id="section" class="tab-pane fade ">
            <Section></Section>
        </div>
        <div id="colortype" class="tab-pane fade">
            <ColorType></ColorType>
        </div>
        <div id="threadtype" class="tab-pane fade">
            <ThreadType></ThreadType>
        </div>
        <div id="greigetype" class="tab-pane fade">
            <GreigeType></GreigeType>
        </div>
        <div id="warehouse" class="tab-pane fade">
            <Warehouse></Warehouse>
        </div>
    </div>
</div>