<div class="border rounded-lg p-4 roll_loc shadow-sm bg-white bank-details">
    <div class="inline__flex filter">
        <div class="d-flex justify-content-between ">
            <h3 class="header-text">Paypal Id</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 mt-3">
            <div class="border rounded-sm text-dark pl-3 pr-3 col-4">
                <!--!-->
                <h5 class="mt-2 text-muted input-text" >Paypal Email Address</h5>
                <p class="text-muted input-field-text" contenteditable="false">
                    Test</p>
            </div>
        </div>
       <a class="btn btn-hexcolor no-underline col-sm-3 mt-3">Edit Details</a>
    </div>
</div>

<div class="border rounded-lg p-4 roll_loc shadow-sm bg-white bank-details mt-3">
    <div class="inline__flex filter">
        <div class="d-flex justify-content-between ">
            <h3 class="header-text">Your Revenue Share</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-12 col-sm-12 mt-3">
            <div class="border rounded-sm text-dark pl-3 pr-3">
                <!--!-->
                <h5 class="mt-2 text-muted input-text" >From</h5>
                <p class="text-muted input-field-text" contenteditable="false">
                    Test</p>
            </div>
        </div>
          <div class="col-lg-2 col-md-12 col-sm-12 mt-3">
            <div class="border rounded-sm text-dark pl-3 pr-3">
                <!--!-->
                <h5 class="mt-2 text-muted input-text" >To</h5>
                <p class="text-muted input-field-text" contenteditable="false">
                    Test</p>
            </div>
        </div>
          <div class="col-lg-2 col-md-12 col-sm-12 mt-3">
            <div class="border rounded-sm text-dark pl-3 pr-3">
                <!--!-->
                <h5 class="mt-2 text-muted input-text" >%</h5>
                <p class="text-muted input-field-text" contenteditable="false">
                    Test</p>
            </div>
        </div>

    <div class="inline__flex filter">
        <div class="d-flex justify-content-between ">
            <h3 class="header-text">SSY Note</h3>
        </div>
    </div>
    <textarea class="col-12"></textarea>
    </div>
</div>