<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12  pt-3 ">
        <div class="rounded-lg border shadow-sm bg-white">
            <div class="d-flex justify-content-between rounded-sm p-3  ">
                <div class=" font-weight-bolder dashboard-header-text">Production</div>
            </div>


            <div class=" pr-4 pl-4 pb-3">
                <div class="form-group">
                    <div class="d-flex justify-content-between pl-4 pr-5  align-self-center">
                        <h6 class="">By Customer Orders <span class="ml-3 on-track">66% On Track</span> <button
                                class=" btn view-details ml-3">Filter</button> </h6>
                        <button class=" btn view-details">View Detail List</button>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-sm-12">
                                    <div class="border rounded-lg shadow-sm mt-3 text-center p-2">
                                        <span class="production-number">87</span>
                                        <br>
                                        <span class="production-text">NEW ORDER</span>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-12">
                                    <div class="border rounded-lg shadow-sm mt-3 text-center p-2">
                                        <span class="production-number">87</span>
                                        <br>
                                        <span class="production-text">PENDING ORDER</span>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-12">
                                    <div class="border rounded-lg shadow-sm mt-3 text-center p-2">
                                        <span class="production-number">87</span>
                                        <br>
                                        <span class="production-text">ORDER RECEIVED</span>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-12">
                                    <div class="border rounded-lg shadow-sm mt-3 text-center p-2">
                                        <span class="production-number">87</span>
                                        <br>
                                        <span class="production-text">CUTTING COMPLETE</span>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-12">
                                    <div class="border rounded-lg shadow-sm mt-3 text-center p-2">
                                        <span class="production-number">87</span>
                                        <br>
                                        <span class="production-text">SEWING COMPLETE</span>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-12">
                                    <div class="border rounded-lg shadow-sm mt-3 text-center p-2">
                                        <span class="production-number">87</span>
                                        <br>
                                        <span class="production-text">PASSED QA</span>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-12">
                                    <div class="border rounded-lg shadow-sm mt-3 text-center p-2">
                                        <span class="production-number">87</span>
                                        <br>
                                        <span class="production-text">PACKING COMPLETE</span>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-12">
                                    <div class="border rounded-lg shadow-sm mt-3 text-center p-2">
                                        <span class="production-number">87</span>
                                        <br>
                                        <span class="production-text">SHIPMENT ARRANGED</span>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-12">
                                    <div class="border rounded-lg shadow-sm mt-3 text-center p-2">
                                        <span class="production-number">87</span>
                                        <br>
                                        <span class="production-text">SHIPPED</span>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-12">
                                    <div class="border rounded-lg shadow-sm mt-3 text-center p-2">
                                        <span class="production-number">87</span>
                                        <br>
                                        <span class="production-text">COMPLETED</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class=" pr-4 pl-4 pb-3">
                <div class="form-group">
                    <div class="d-flex justify-content-between pl-4 pr-5  align-self-center">
                        <h6 class="">Marketing Orders <span class="ml-3 on-track ">66% On Track</span></h6>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-sm-12">
                                    <div class="border rounded-lg shadow-sm mt-3 text-center p-2">
                                        <span class="production-number">87</span>
                                        <br>
                                        <span class="production-text">NEW ORDER</span>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-12">
                                    <div class="border rounded-lg shadow-sm mt-3 text-center p-2">
                                        <span class="production-number">87</span>
                                        <br>
                                        <span class="production-text">PENDING ORDER</span>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-12">
                                    <div class="border rounded-lg shadow-sm mt-3 text-center p-2">
                                        <span class="production-number">87</span>
                                        <br>
                                        <span class="production-text">ORDER RECEIVED</span>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-12">
                                    <div class="border rounded-lg shadow-sm mt-3 text-center p-2">
                                        <span class="production-number">87</span>
                                        <br>
                                        <span class="production-text">CUTTING COMPLETE</span>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-12">
                                    <div class="border rounded-lg shadow-sm mt-3 text-center p-2">
                                        <span class="production-number">87</span>
                                        <br>
                                        <span class="production-text">SEWING COMPLETE</span>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-12">
                                    <div class="border rounded-lg shadow-sm mt-3 text-center p-2">
                                        <span class="production-number">87</span>
                                        <br>
                                        <span class="production-text">PASSED QA</span>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-12">
                                    <div class="border rounded-lg shadow-sm mt-3 text-center p-2">
                                        <span class="production-number">87</span>
                                        <br>
                                        <span class="production-text">PACKING COMPLETE</span>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-12">
                                    <div class="border rounded-lg shadow-sm mt-3 text-center p-2">
                                        <span class="production-number">87</span>
                                        <br>
                                        <span class="production-text">SHIPMENT ARRANGED</span>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-12">
                                    <div class="border rounded-lg shadow-sm mt-3 text-center p-2">
                                        <span class="production-number">87</span>
                                        <br>
                                        <span class="production-text">SHIPPED</span>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-12">
                                    <div class="border rounded-lg shadow-sm mt-3 text-center p-2">
                                        <span class="production-number">87</span>
                                        <br>
                                        <span class="production-text">COMPLETED</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class=" pr-4 pl-4 pb-3">
                <div class="form-group">
                    <div class="d-flex justify-content-between pl-4 pr-5  align-self-center">
                        <h6 class="">Development Samples <span class="ml-3 on-track ">66% On Track</span></h6>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-sm-12">
                                    <div class="border rounded-lg shadow-sm mt-3 text-center p-2">
                                        <span class="production-number">87</span>
                                        <br>
                                        <span class="production-text">NEW ORDER</span>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-12">
                                    <div class="border rounded-lg shadow-sm mt-3 text-center p-2">
                                        <span class="production-number">87</span>
                                        <br>
                                        <span class="production-text">PENDING ORDER</span>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-12">
                                    <div class="border rounded-lg shadow-sm mt-3 text-center p-2">
                                        <span class="production-number">87</span>
                                        <br>
                                        <span class="production-text">ORDER RECEIVED</span>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-12">
                                    <div class="border rounded-lg shadow-sm mt-3 text-center p-2">
                                        <span class="production-number">87</span>
                                        <br>
                                        <span class="production-text">CUTTING COMPLETE</span>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-12">
                                    <div class="border rounded-lg shadow-sm mt-3 text-center p-2">
                                        <span class="production-number">87</span>
                                        <br>
                                        <span class="production-text">SEWING COMPLETE</span>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-12">
                                    <div class="border rounded-lg shadow-sm mt-3 text-center p-2">
                                        <span class="production-number">87</span>
                                        <br>
                                        <span class="production-text">PASSED QA</span>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-12">
                                    <div class="border rounded-lg shadow-sm mt-3 text-center p-2">
                                        <span class="production-number">87</span>
                                        <br>
                                        <span class="production-text">PACKING COMPLETE</span>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-12">
                                    <div class="border rounded-lg shadow-sm mt-3 text-center p-2">
                                        <span class="production-number">87</span>
                                        <br>
                                        <span class="production-text">SHIPMENT ARRANGED</span>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-12">
                                    <div class="border rounded-lg shadow-sm mt-3 text-center p-2">
                                        <span class="production-number">87</span>
                                        <br>
                                        <span class="production-text">SHIPPED</span>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-12">
                                    <div class="border rounded-lg shadow-sm mt-3 text-center p-2">
                                        <span class="production-number">87</span>
                                        <br>
                                        <span class="production-text">COMPLETED</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>