@inherits LayoutComponentBase


<ul class="nav justify-content-center border border-left-0 border-top-0 border-right-0 scrollmenu nav-menu">

    <li class="nav-item">
        <NavLink class="nav-link" href="/influencers/actualinfo" Match="NavLinkMatch.All">
            <span aria-hidden="true"></span> Account Info
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/influencers/sizing" Match="NavLinkMatch.All">
            <span aria-hidden="true"></span> Sizing
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/influencers/agents" Match="NavLinkMatch.All">
            <span aria-hidden="true"></span> Agents
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/influencers/messaging" Match="NavLinkMatch.All">
            <span aria-hidden="true"></span> Messaging
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/influencers/designphase" Match="NavLinkMatch.All">
            <span aria-hidden="true"></span> Design Phase
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/influencers/launchphase" Match="NavLinkMatch.All">
            <span aria-hidden="true"></span> Launch Phase
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/influencers/uploads" Match="NavLinkMatch.All">
            <span aria-hidden="true"></span> Uploads
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/influencers/influencercalendar" Match="NavLinkMatch.All">
            <span aria-hidden="true"></span> Influencer Calendar
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/influencers/financials" Match="NavLinkMatch.All">
            <span aria-hidden="true"></span> Financials
        </NavLink>
    </li>
</ul>
