

             <div class="col-md-12">
                <CollectionTimeline></CollectionTimeline>
            </div>
            <div class="col-md-12">
                <Collections PageName="@PageName"></Collections>
            </div>
            <div class="col-md-12">
                <BOMs></BOMs>
            </div>