@page "/collectionandproduct/samples"

 <CascadingValue Value="@Module" Name="Module">
        <BannerLayoutSSY></BannerLayoutSSY>
    </CascadingValue>

    <div class="bg-white">
        <ProductNavLayout />
    </div>