.bg-btn {
    background-color: #7B8E61;
}

    .bg-btn.col-12 {
        background-color: #7B8E61;
        font-size: 12px;
        padding: 12px 16px;
    }

.inline__flex.filter.row {
    padding: 17px;
}
thead tr th {
    text-align: center !important;
    vertical-align: middle;
}
tbody tr td {
    text-align: center !important;
    vertical-align: middle;
}
button.btn.btn-secondary.text-light.btn-danger.buttons__class {
    background: #5a6268;
    border: #5a6268;
}
span.badge.badge-success.True\; {
    background-color: #28a745;
    border-radius: 40px;
  
}
.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef !important;
    opacity: 1;
}