[contenteditable][placeholder]:empty:before {
  content: attr(placeholder);
  position: absolute;
  color: gray;
  background-color: transparent;
}



.header-text{
  color: #7b8d61;
}

.custom-button {
  background-color: #486CD9;
  width: 320px;
}

.text-deco-none{ text-decoration: none }

.graph-text{
  font: var(--unnamed-font-style-normal) normal 900 var(--unnamed-font-size-14)/12px Avenir;
letter-spacing: var(--unnamed-character-spacing-0);
color: var(---333333);
text-align: center;
font: normal normal 900 14px/12px Avenir;
letter-spacing: 0px;
color: #333333;
text-transform: uppercase;
opacity: 1;
}

.nav-tabs-views a {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-12) var(--unnamed-font-family-avenir);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-5a5a5a);
  text-align: center;
  font: normal normal medium 14px/12px Avenir;
  letter-spacing: 0px;
  color: #5A5A5A;
  text-transform: uppercase;
  opacity: 0.5;
}
.nav-tabs-views li {
  margin: 10px;
}


.box-gray.for-count {
  text-align: center;
  background: #dddbdb;
  border-radius: 9px;
  padding: 17px;
  width: 242px;
}
.row.box-gray-layout {
  width: 800px;
  margin: auto;
  padding-bottom: 25px;
}
td.tb-td-text {
  text-align: center;
}
th.tb-header {
  text-align: center;
}
@media (max-width: 900px) {
  .row.box-gray-layout {
      width: 100% !important;
      display: block !important;
  }
  .box-gray.for-count {
      padding: 17px;
      display: block !important;
      margin: auto !important;
  }
  .row.box-gray-layout .col-4 {
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 12px;
  }
}

a {
  text-decoration: none !important;
}
h4.title-count-number {
  color: #687a52;
}
p.title-count {
  color: #687a52;
}

.background {
    padding: 10px;
}
.buttons {
    text-align: right;
}

.buttons__class {
    font-size: 15px;
}


.form-check.checkbox__weightunit {
  display: inline-flex;
}
.weight__unit {
  /* float: left; */
  /* width: 100%; */
  /* margin: auto; */
  margin-right: 55px;
  /* padding: 7px; */
}
@media (max-width: 505px) {
  .weight__unit{
  margin-right: auto !important;
  margin: 25px;
      }
  .form-check {
  padding-left: 1px!important;
      }
}

@media (max-width: 768px) {
.weight__unit {
  /* float: left; */
  /* width: 100%; */
  /* margin: auto; */
  margin-right: 28px;
  /* padding: 7px; */
  
}
label.text-muted.input-field-text {
  font-size: 10px;
}
}
@media (max-width: 1024px) {
.weight__unit {
  /* float: left; */
  /* width: 100%; */
  /* margin: auto; */
  margin-right: 31px;
  /* padding: 7px; */
}
}

.upload__button {
  padding: 3px;
}

span.custom-file-control.form-control-file {
  background: #7B8E61;
  width: 100% !important;
  text-align: center;
  border-radius: 4px;
  font-size: 14px;
  color: white;
  padding: 5px;
}

.custom__upload{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding-top: 17px;
  right: -2px;
}
.custom-file {
  height: 63px !important;
}  
span.max__text {
  padding-left: 26px;
  font-weight: 500;
  font-size: 10px;
  width: 100%;
}
input#customInput {
  visibility: hidden;
  display: none;
}
.border.rounded-sm.bg-light.text-dark.pl-3.pr-3 {
  margin-bottom: 14px;
}

@media (max-width: 1024px) {

span.custom-file-control.form-control-file {
  font-size: 13px;
  padding: 3px;
}
}

.width__images{
  width: 80%;
  margin: 2px;
  padding: 2px;
}
img {
  width: 83px;
}
.custom__disabled {
  margin-top: 17px;
}


span.max__text.view {
  padding: 2px;
  font-size: 13px;
  font-weight: 400;
}


.care__instructions .text__secondary {
  font-size: 10px;
  line-height: 0px;
}
textarea.form-control {
  height: 129px !important;
}
h5.header-text {
  color: #A35C3C;
}
@media (max-width: 1024px) {
  .col-3.col-sm-3.mt-3.mobile__responsive {
      padding-left: 3px;
      padding-right: 3px;
  }
}
.img__qr img {
  width: 100%;
  margin-top: -30px;
}


@media (max-width: 1024px) {
.img__qr img {
  width: 100%;
  margin-top: 10pxpx;
}
}
@media (max-width: 371px) {
  span.roll__title {
      display: none;
  }
  h3.header-text[b-rn5egbhnpi] {
      padding: 48px;
  }
  }
.border.rounded-lg.p-4.roll_loc.shadow-sm {
  padding: unset !important;
}
h5.brown__background {
  margin: auto;
  text-align: center !important;
  padding: 6px;
}
.table {
  margin-right: 20px;
  margin-left: 15px;
}
.container.roll__loc {
  max-width: 100%;
}
.d-flex.justify-content-between.background__rool {
  text-align: center !important;
  margin: auto;
  display: block;
  background: #BA8269 !important;
  width: 100%;
  padding: 5px;
}
.to__theright {
  float: right;
}
.background__rool {
  width: 100%;
}   
.btn-success {
  color: #fff !important; 
  background-color: #7B8E61;
  border-color: #7B8E61;
}

h5.brown__background {
  color: white;
}
.avocado__color{
  background: #7B8E61;
  color: white;
}
.avocado__color{
  background: #7B8E61;
  color: white;
}

.form-control {
  padding: 4px !important;

}
.form-group {
  margin-bottom: -2px;
}
img {
  width: 50px;
  margin: auto;
}

.table td, .table th { 
  width: 10%;
}

button.btn.btn-lg.btn-danger.buttons__class {
  background: #646D7B;
  border-color: #646D7B;
}
.btn-danger.focus, .btn-danger:focus {
  box-shadow: #646D7B !important;
}

a.btn.btn-lg.btn-success.buttons__class
{
  background-color: #7B8E61;
  border-color: #7B8E61;
}
.product__assignment.collapse.show {
  height: 144px;
}
.form-check.checkbox__assignment {
  overflow: auto;
  background: white;
  padding: 0px 0px 0px 25px;
  margin-bottom: 13px;
  border-radius: 5px;
  border: #e8e7e7 solid;
}


.footer__button .col-md-12.col-sm-12.mt-3 {
  margin-top: 0px !important;
}
a.collapsable__item.mb-2.form-control-sm {
  color: #495057;
  margin-left: -27px;
  width: 100%;
  display: block;
  padding:9px;
}
.col-lg-2.col-md-12.col-sm-12.mt-3.short {
  padding-left: 4px !important;
  padding-right: 4px !important;
  margin-left: 6px;
  margin-right: 4px;
  max-width: 11.666667%;
}

.general__information .border.rounded-sm.bg-light.text-dark.pl-3.pr-3 {
  height: 98px;
}

.below__moq .border.rounded-sm.bg-light.text-dark.pl-3.pr-3 {
  height: 95px;
}
.col-6.col-sm-6.mt-3.below__moq {
  padding: 2px;
  max-width: 50%;
}

.col-6.col-sm-6.mt-3.price__perunit {
  padding: 2px;
}

.col-6.col-sm-6.mt-3.price__perunit .border.rounded-sm.bg-light.text-dark.pl-3.pr-3 {
  height: 94px;
}
.general__information {
  padding-right: 2px;
  padding-left: 2px;
  max-width: 49%;
}
ul.nav.nav-tabs.nav-tabs-views.nav.justify-content-center.border.border-left-0.border-top-0.border-right-0.scrollmenu.nav-menu {
  font-size: 14px;
  font-family: avenir !important;
  font-weight: 700;
}
ul.nav.nav-tabs.nav-tabs-views.nav.justify-content-center.border.border-left-0.border-top-0.border-right-0.scrollmenu.nav-menu li {
  margin-left: 27px;
  margin-right: 27px;
}
.spacer {
  padding: 18px;
}


@media screen and (max-width: 600px) {
  .col-lg-2.col-md-12.col-sm-12.mt-3.short {
    padding: 1px;
    max-width: 47.666667% !important;
  }
}
@media screen and (max-width: 505px) {
  a.collapsable__item.mb-2.form-control-sm {
    margin-left: -5px;
    padding: 12px;
  }
  .weight__unit {
    margin-right: auto !important;
    margin: auto;
    margin-left: 22px;
    margin-top: -7px;
}
}
@media screen and (max-width: 992px) {
  .col-lg-2.col-md-12.col-sm-12.mt-3.short {
    max-width: 23.666667%;
  }
  .inventory__sec {
  
    margin-bottom: 5px;
  }
  .col-md-6.col-sm-12.mt-3.description .border.rounded-lg.p-4.shadow-sm {
    height: 100% !important;
  }
}
@media screen and (max-width: 1087px) {
  .form-check.checkbox__weightunit{
    display: block;
}
}
.bellow__moq .border.rounded-sm.bg-light.text-dark.pl-3.pr-3 {
  height: 95px;
}
.col-6.col-sm-6.mt-3.bellow__moq {
  padding: 2px;
  max-width: 50%;
}

@media screen and (max-width: 1027px) {
  .col-3.col-sm-3.mt-3.general__information.mobile__responsive {
    max-width: 100% !important;
    flex: 0 0 49% !important;
  }

}
.col-lg-2.col-md-12.col-sm-12.mt-3.short {
  flex: 0 0 11.666667%;
  max-width: 11.666667%;
  padding: 2px;
  margin: 4px;
}
p.text-muted.input-field-text.address {
  font-size: 12px;
}
@media (max-width: 1067px) 
{
  .col-lg-2.col-md-12.col-sm-12.mt-3.short
   {
    flex: 0 0 23.666667%;
    max-width: 21.666667%;
    padding: 0;
    margin: 0px 12px 0px 14px;
  } 
}
@media (max-width: 991px)
 {
  .col-lg-2.col-md-12.col-sm-12.mt-3.short
   {
    flex: 0 0 46.666667%;
    max-width: 46.666667%;
  }
}
@media (max-width: 887px) 
{
  .col-lg-2.col-md-12.col-sm-12.mt-3.short 
  {
    flex: 0 0 45.666667% ;
    max-width: 45.666667% ;
    margin: auto;
  }
}
@media (max-width: 707px) 
{
  .col-lg-2.col-md-12.col-sm-12.mt-3.short
  {
    flex: 0 0 99.666667%;
    max-width: 98.666667%;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
  }
}

.general__information .border.rounded-sm.bg-light.text-dark.pl-3.pr-3 {
  height: 98px;
  padding: 1px;
}

.below__moq .border.rounded-sm.bg-light.text-dark.pl-3.pr-3 {
  height: 95px;
}
.col-6.col-sm-6.mt-3.below__moq {
  padding: 2px;
  max-width: 50%;
}

.col-6.col-sm-6.mt-3.price__perunit {
  padding: 2px;
}

.col-6.col-sm-6.mt-3.price__perunit .border.rounded-sm.bg-light.text-dark.pl-3.pr-3 {
  height: 94px;
}
.general__information {
  padding-right: 2px;
  padding-left: 2px;
  max-width: 49%;
}
@media (max-width: 1024px) {
  .col-3.col-sm-3.mt-3.mobile__responsive {
      padding-left: 3px;
      padding-right: 3px;
  }
}
@media screen and (max-width: 1027px) {
.col-3.col-sm-3.mt-3.general__information.mobile__responsive {
  max-width: 100% !important;
  flex: 0 0 49% !important;
}
}

@media screen and (max-width: 1027px) 
{
  .col-3.col-sm-3.mt-3.general__information.mobile__responsive 
  {
    max-width: 100%;
    flex: 0 0 49%;
  }
}
@media screen and (max-width: 992px) 
{
  .col-lg-2.col-md-12.col-sm-12.mt-3.short 
  {
    max-width: 23.666667%;
  }
  /* .inventory__sec 
  {
    height: 100%;
    margin-bottom: 5px;
  } */
  .col-md-6.col-sm-12.mt-3.description .border.rounded-lg.p-4.shadow-sm 
  {
    height: auto;
  }
  .spacer{
    padding: 0 !important;
}

}
@media screen and (max-width: 600px) 
{
  .col-lg-2.col-md-12.col-sm-12.mt-3.short
   {
    padding: 1px;
    max-width: 47.666667%;
   }
}
@media screen and (max-width: 505px) {
  a.collapsable__item.mb-2.form-control-sm
   {
    margin-left: -5px;
    padding: 12px;
   }
  .weight__unit 
   {
    margin-right: auto;
    margin: auto;
    margin-left: 22px;
    margin-top: -7px;
   }
}
.col-lg-2.col-md-12.col-sm-12.mt-3.short {
  flex: 0 0 11.666667%;
  max-width: 11.666667%;
  padding: 2px;
  margin: 4px;
}
p.text-muted.input-field-text.address {
  font-size: 12px;
}
@media (max-width: 1067px) 
{
  .col-lg-2.col-md-12.col-sm-12.mt-3.short
   {
    flex: 0 0 23.666667%;
    max-width: 21.666667%;
    padding: 0;
    margin: 0px 12px 0px 14px;
  } 
}
@media (max-width: 991px)
 {
  .col-lg-2.col-md-12.col-sm-12.mt-3.short
   {
    flex: 0 0 46.666667%;
    max-width: 46.666667%;
  }
}
@media (max-width: 887px) 
{
  .col-lg-2.col-md-12.col-sm-12.mt-3.short 
  {
    flex: 0 0 45.666667% ;
    max-width: 45.666667% ;
    margin: auto;
  }
}
@media (max-width: 707px) 
{
  .col-lg-2.col-md-12.col-sm-12.mt-3.short
  {
    flex: 0 0 99.666667%;
    max-width: 98.666667%;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
  }
}





