<div class="row mt-3">
        <h5>Top Measurements</h5>
        <div class="col-md-3">
            <div class="d-inline-flex">
                <img src="https://dev.sewsewyou.com/img/No-Image-Placeholder.svg.png" class="img-src-measurments mt-3" />
                <div class="col mt-3">
                    <div class="border rounded-sm text-dark pl-3 pr-3">
                        <!--!-->
                        <h5 class="mt-2 text-muted input-text">FIRST NAME</h5>
                        <p class="text-muted input-field-text" contenteditable="false">
                            Jordi</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="d-inline-flex">
                <img src="https://dev.sewsewyou.com/img/No-Image-Placeholder.svg.png" class="img-src-measurments mt-3" />
                <div class="col mt-3">
                    <div class="border rounded-sm text-dark pl-3 pr-3">
                        <!--!-->
                        <h5 class="mt-2 text-muted input-text">FIRST NAME</h5>
                        <p class="text-muted input-field-text" contenteditable="false">
                            Jordi</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="d-inline-flex">
                <img src="https://dev.sewsewyou.com/img/No-Image-Placeholder.svg.png" class="img-src-measurments mt-3" />
                <div class="col mt-3">
                    <div class="border rounded-sm text-dark pl-3 pr-3">
                        <!--!-->
                        <h5 class="mt-2 text-muted input-text">FIRST NAME</h5>
                        <p class="text-muted input-field-text" contenteditable="false">
                            Jordi</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="d-inline-flex">
                <img src="https://dev.sewsewyou.com/img/No-Image-Placeholder.svg.png" class="img-src-measurments mt-3" />
                <div class="col mt-3">
                    <div class="border rounded-sm text-dark pl-3 pr-3">
                        <!--!-->
                        <h5 class="mt-2 text-muted input-text">FIRST NAME</h5>
                        <p class="text-muted input-field-text" contenteditable="false">
                            Jordi</p>
                    </div>
                </div>
            </div>
        </div>
         <div class="col-md-3">
            <div class="d-inline-flex">
                <img src="https://dev.sewsewyou.com/img/No-Image-Placeholder.svg.png" class="img-src-measurments mt-3" />
                <div class="col mt-3">
                    <div class="border rounded-sm text-dark pl-3 pr-3">
                        <!--!-->
                        <h5 class="mt-2 text-muted input-text">FIRST NAME</h5>
                        <p class="text-muted input-field-text" contenteditable="false">
                            Jordi</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="d-inline-flex">
                <img src="https://dev.sewsewyou.com/img/No-Image-Placeholder.svg.png" class="img-src-measurments mt-3" />
                <div class="col mt-3">
                    <div class="border rounded-sm text-dark pl-3 pr-3">
                        <!--!-->
                        <h5 class="mt-2 text-muted input-text">FIRST NAME</h5>
                        <p class="text-muted input-field-text" contenteditable="false">
                            Jordi</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="d-inline-flex">
                <img src="https://dev.sewsewyou.com/img/No-Image-Placeholder.svg.png" class="img-src-measurments mt-3" />
                <div class="col mt-3">
                    <div class="border rounded-sm text-dark pl-3 pr-3">
                        <!--!-->
                        <h5 class="mt-2 text-muted input-text">FIRST NAME</h5>
                        <p class="text-muted input-field-text" contenteditable="false">
                            Jordi</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="d-inline-flex">
                <img src="https://dev.sewsewyou.com/img/No-Image-Placeholder.svg.png" class="img-src-measurments mt-3" />
                <div class="col mt-3">
                    <div class="border rounded-sm text-dark pl-3 pr-3">
                        <!--!-->
                        <h5 class="mt-2 text-muted input-text">FIRST NAME</h5>
                        <p class="text-muted input-field-text" contenteditable="false">
                            Jordi</p>
                    </div>
                </div>
            </div>
        </div>
         <div class="col-md-3">
            <div class="d-inline-flex">
                <img src="https://dev.sewsewyou.com/img/No-Image-Placeholder.svg.png" class="img-src-measurments mt-3" />
                <div class="col mt-3">
                    <div class="border rounded-sm text-dark pl-3 pr-3">
                        <!--!-->
                        <h5 class="mt-2 text-muted input-text">FIRST NAME</h5>
                        <p class="text-muted input-field-text" contenteditable="false">
                            Jordi</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="d-inline-flex">
                <img src="https://dev.sewsewyou.com/img/No-Image-Placeholder.svg.png" class="img-src-measurments mt-3" />
                <div class="col mt-3">
                    <div class="border rounded-sm text-dark pl-3 pr-3">
                        <!--!-->
                        <h5 class="mt-2 text-muted input-text">FIRST NAME</h5>
                        <p class="text-muted input-field-text" contenteditable="false">
                            Jordi</p>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
