<div class="col-md-12 mt-5">
    <ul class="nav nav-tabs-views nav justify-content-center scrollmenu nav-menu settings__navs">
        <li><a data-toggle="tab" href="#inventory" class="active">Inventory</a></li>
        <li><a data-toggle="tab" href="#userManagement">User Management</a></li>
        <li><a data-toggle="tab" href="#product">Product</a></li>
        <li><a data-toggle="tab" href="#customer">Customer</a></li>
        <li><a data-toggle="tab" href="#influencer">Influencer</a></li>
        <li><a data-toggle="tab" href="#oem">OEM</a></li>
        <li><a data-toggle="tab" href="#internal">Internal</a></li>
    </ul>
</div>

<div class="col-md-12">
    <div class="tab-content">
        <div id="inventory" class="tab-pane fade in active show">
            <InventoryEmail></InventoryEmail>
        </div>
        <div id="userManagement" class="tab-pane fade ">
            <UserManagementEmail></UserManagementEmail>
        </div>
        <div id="product" class="tab-pane fade">
            <ProductEmail></ProductEmail>
        </div>
        <div id="customer" class="tab-pane fade">
            <CustomerEmail></CustomerEmail>
        </div>
        <div id="influencer" class="tab-pane fade">
            <InfluencerEmail></InfluencerEmail>
        </div>
        <div id="oem" class="tab-pane fade">
            <OemEmail></OemEmail>
        </div>
        <div id="internal" class="tab-pane fade">
            <InternalEmail></InternalEmail>
        </div>
    </div>
</div>
