<div class="col-md-12 mt-5">
    <ul class="nav nav-tabs-views nav justify-content-center scrollmenu nav-menu settings__navs">
        <li><a data-toggle="tab" href="#onboardedTarget" class="active">Onboarded Target</a></li>
        <li><a data-toggle="tab" href="#forecast">Forecast</a></li>
        <li><a data-toggle="tab" href="#influencerOnboard">Influencer Onboard</a></li>
        <li><a data-toggle="tab" href="#shipping">Shipping</a></li>
        <li><a data-toggle="tab" href="#packing">Packing</a></li>
    </ul>
</div>

<div class="col-md-12">
    <div class="tab-content">
        <div id="onboardedTarget" class="tab-pane fade in active show">
            <OnboardedTarget></OnboardedTarget>
        </div>
        <div id="forecast" class="tab-pane fade ">
            <Forecast></Forecast>
        </div>
        <div id="influencerOnboard" class="tab-pane fade">
            <InfluencerOnboard></InfluencerOnboard>
        </div>
        <div id="shipping" class="tab-pane fade">
            <Shipping></Shipping>
        </div>
        <div id="packing" class="tab-pane fade">
            <Packing></Packing>
        </div>
    </div>
</div>