
  button.btn.btn-lg.btn-danger.buttons__class{
    background: #646D7B;
    border-color: #646D7B;
}
a.btn.btn-lg.btn-success.buttons__class {
    background-color: #7B8E61;
    border-color: #7B8E61;
}
.background {
    padding: 10px;
}
.buttons {
    text-align: right;
}
.mt-3, .my-3 {
    margin-top: 0!important;
    margin-bottom: 0 !important;
}
.buttons__class {
    font-size: 15px;
}
button.btn.btn-lg.btn-info.buttons__class
{
    background-color: #7B8E61;
    border-color: #7B8E61;
}
