

    <div class="influencer-status filter">
        <div class="d-flex justify-content-between ">
            <h3 class="header-text">Influencer Status</h3>
        </div>
        <div class="row">
             <div class="col-md-4" id="timeline">
                <div class="row timeline-div">
                    <div class="col-8">
                      <p>On Boarded</p>  
                    </div>
                    <div class="col-4">
                        <div class="status-left-box">
                            <p><span class="status-number">4</span></p>
                            <span class="status-price">$1,200</span>
                        </div>
                    </div>
                     <div id="timeline-hover-data">
                            @* <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action">
                                    <p class="text-dark title">April Daniels</p>
                                    <span class="text-muted sub-title">(April Daniels)</span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    <p class="text-dark title">April Daniels</p>
                                    <span class="text-muted sub-title">(April Daniels)</span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    <p class="text-dark title">April Daniels</p>
                                    <span class="text-muted sub-title">(April Daniels)</span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    <p class="text-dark title">April Daniels</p>
                                    <span class="text-muted sub-title">(April Daniels)</span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    <p class="text-dark title">April Daniels</p>
                                    <span class="text-muted sub-title">(April Daniels)</span>
                                </a>
                            </div> *@
                            <div class="row">
                                <div class="col-4">
                                    <div class="text-header">Sample</div>
                                    <p>sample</p>
                                    <p>sample</p>
                                    <p>sample</p>
                                </div>
                                <div class="col-4">
                                    <div class="text-header">Sample</div>
                                    <p>sample</p>
                                    <p>sample</p>
                                    <p>sample</p>
                                </div>
                                <div class="col-4">
                                    <div class="text-header">Sample</div>
                                    <p>sample</p>
                                    <p>sample</p>
                                    <p>sample</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-md-4" id="contractsent">
                <div class="row contractsent-div">
                    <div class="col-8">
                      <p>Contract Sent</p>  
                    </div>
                    <div class="col-4">
                        <div class="status-left-box">
                            <p><span class="status-number">4</span></p>
                            <span class="status-price">$1,200</span>
                        </div>
                    </div>
                     <div id="contractsent-hover-data">
                            @* <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action">
                                    <p class="text-dark title">April Daniels</p>
                                    <span class="text-muted sub-title">(April Daniels)</span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    <p class="text-dark title">April Daniels</p>
                                    <span class="text-muted sub-title">(April Daniels)</span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    <p class="text-dark title">April Daniels</p>
                                    <span class="text-muted sub-title">(April Daniels)</span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    <p class="text-dark title">April Daniels</p>
                                    <span class="text-muted sub-title">(April Daniels)</span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    <p class="text-dark title">April Daniels</p>
                                    <span class="text-muted sub-title">(April Daniels)</span>
                                </a>
                            </div> *@
                            <div class="row">
                                <div class="col-4">
                                    <div class="text-header">Sample</div>
                                    <p>sample</p>
                                    <p>sample</p>
                                    <p>sample</p>
                                </div>
                                <div class="col-4">
                                    <div class="text-header">Sample</div>
                                    <p>sample</p>
                                    <p>sample</p>
                                    <p>sample</p>
                                </div>
                                <div class="col-4">
                                    <div class="text-header">Sample</div>
                                    <p>sample</p>
                                    <p>sample</p>
                                    <p>sample</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-md-4" id="intalks">
                <div class="row intalks-div">
                    <div class="col-8">
                      <p>In Talks</p>  
                    </div>
                    <div class="col-4">
                        <div class="status-left-box">
                            <p><span class="status-number">4</span></p>
                            <span class="status-price">$1,200</span>
                        </div>
                    </div>
                     <div id="intalks-hover-data">
                            @* <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action">
                                    <p class="text-dark title">April Daniels</p>
                                    <span class="text-muted sub-title">(April Daniels)</span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    <p class="text-dark title">April Daniels</p>
                                    <span class="text-muted sub-title">(April Daniels)</span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    <p class="text-dark title">April Daniels</p>
                                    <span class="text-muted sub-title">(April Daniels)</span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    <p class="text-dark title">April Daniels</p>
                                    <span class="text-muted sub-title">(April Daniels)</span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    <p class="text-dark title">April Daniels</p>
                                    <span class="text-muted sub-title">(April Daniels)</span>
                                </a>
                            </div> *@
                            <div class="row">
                                <div class="col-4">
                                    <div class="text-header">Sample</div>
                                    <p>sample</p>
                                    <p>sample</p>
                                    <p>sample</p>
                                </div>
                                <div class="col-4">
                                    <div class="text-header">Sample</div>
                                    <p>sample</p>
                                    <p>sample</p>
                                    <p>sample</p>
                                </div>
                                <div class="col-4">
                                    <div class="text-header">Sample</div>
                                    <p>sample</p>
                                    <p>sample</p>
                                    <p>sample</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
           
        </div>
    </div>
