
        <div class="rounded-lg border shadow-sm bg-white">
            <div class="d-flex justify-content-between rounded-sm pl-3 pr-3 pt-3  ">
                <div class=" font-weight-bolder dashboard-header-text">Influencer On Boarding</div>
                <button class=" btn view-details">View Details</button>
            </div>
            <div class="pl-3 on-track"> 66% On Track</div>



            <div class="pr-4 pl-4 pb-3 mt-3">
                <div class="form-group">

                    <div class="row">

                        <div class="col-lg-4 col-md-12">
                            <div class="border rounded-lg shadow-sm mt-3 text-center p-2">
                                <span class="influencer-number">87</span>
                                <br>
                                <span class="influencer-text">NOT ELIGABLE</span>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-12">
                            <div class="border rounded-lg shadow-sm mt-3 text-center p-2">
                                <span class="influencer-number">817</span>
                                <br>
                                <span class="influencer-text">ELIGABLE</span>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-12">
                            <div class="border rounded-lg shadow-sm mt-3 text-center p-2">
                                <span class="influencer-number">81117</span>
                                <br>
                                <span class="influencer-text">PRE-CONTRACT</span>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-12">
                            <div class="border rounded-lg shadow-sm mt-3 text-center p-2">
                                <span class="influencer-number">8227</span>
                                <br>
                                <span class="influencer-text">ON-BOARDED</span>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-12">
                            <div class="border rounded-lg shadow-sm mt-3 text-center p-2">
                                <span class="influencer-number">8712</span>
                                <br>
                                <span class="influencer-text">DESIGN PHASE</span>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-12">
                            <div class="border rounded-lg shadow-sm mt-3 text-center p-2">
                                <span class="influencer-number">83127</span>
                                <br>
                                <span class="influencer-text">LAUNCH</span>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="border rounded-lg shadow-sm mt-3 text-center p-2">
                                <div class="d-flex justify-content-between   ">
                                    <div class="align-self-center details-text">TARGET ON BOARDED</div>
                                    <div class="rounded-circle details-number p-1">128</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="border rounded-lg shadow-sm mt-3 text-center p-2">
                                <div class="d-flex justify-content-between   ">
                                    <div class="align-self-center details-text">ACTUAL MONTH TO DATE</div>
                                    <div class="rounded-circle details-number p-1">218</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="border rounded-lg shadow-sm mt-3 text-center p-2">
                                <div class="d-flex justify-content-between   ">
                                    <div class="align-self-center details-text">OVERAGE / DEFICIT</div>
                                    <div class="rounded-circle details-number p-1">218</div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row mt-3">

                        <div class="col-12">
                            <div class="">
                                <div class="row">
                                    <div class="col-12 ">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>INFLUENCER</th>
                                                        <th>SOCIAL MEDIA</th>
                                                        <th>FORECASTED ITEMS</th>
                                                        <th>FORECASTED SALES</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>chinechurva sia</td>
                                                        <td>26-Oct-20</td>
                                                        <td>19,322.22</td>
                                                        <td>2,242.23</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
