<CascadingValue Value="@Module" Name="Module">
    <CascadingValue Value="@ModuleMessage" Name="ModuleMessage">
        <BannerLayoutSSY></BannerLayoutSSY>
    </CascadingValue>
</CascadingValue>

<div class="bg-white">
    <InventoryNavsLayout />
</div>

@*<div class="row">
        <div class="col-md-12 pt-3">
            <div class="border rounded-lg shadow-sm bg-white mt-5 pt-5">
                <Graph CategoryId="@CategoryId" />
            </div>
        </div>
    </div>*@


<InventoryTable Module="@Module" />
