<div class="input-group">
    <div class="input-group-prepend">
        <button type="button" class="form-control" data-toggle="collapse" data-target="#demo">Filter</button>
        <div id="demo" class="collapse">
            <div class="form__label">
                <div class="row">
                    <div class="col-md-3"> <label>Influencer</label></div>
                    <div class="col-md-9">
                        <div class="border rounded-sm bg-light text-dark pl-3 pr-3">
                            <h5 class="mt-2 text-muted input-text">Influencer</h5>
                            <select class="form-control mb-2 form-control-sm" id="Status" aria-placeholder="Status">
                                <option selected disabled value="0">Select Status</option>
                                <option value="dsad">All</option>
                                <option value="dsad">Active</option>
                                <option value="dsad">InActive</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form__label">
                <div class="row">
                    <div class="col-md-3"> <label>Collection</label></div>
                    <div class="col-md-9">
                        <div class="border rounded-sm bg-light text-dark pl-3 pr-3">
                            <h5 class="mt-2 text-muted input-text">Collection</h5>
                            <select class="form-control mb-2 form-control-sm" id="MaterialType"
                                aria-placeholder="Collection">
                                <option selected disabled value="0">Select</option>
                                <option value="dsad">All</option>
                                <option value="dsad">Greige Activewear</option>
                                <option value="dsad">Greige Jersey</option>
                                <option value="dsad">Greige Windbreaker</option>
                                <option value="dsad">Greige Mesh</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form__label">
                <div class="row">
                    <div class="col-md-3"> <label>Product Assignment</label></div>
                    <div class="col-md-9">
                        <div class="border rounded-sm bg-light text-dark pl-3 pr-3">
                            <h5 class="mt-2 text-muted input-text">Product Assignment</h5>
                            <select class="form-control mb-2 form-control-sm" id="ProductAssignment"
                                aria-placeholder="Product Assignment">
                                <option selected disabled value="0">Select Product Assignment</option>
                                <option value="dsad" class="for__title" disabled>Activewear</option>
                                <option value="dsad">Leggings</option>
                                <option value="dsad">Bike Shorts</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6"> <button type="button" class="btn col-12 btn-export">Clear All Filters</button>
                </div>
                <div class="col-md-3"><button type="button" class="btn col-12 btn-export">Cancel</button> </div>
                <div class="col-md-3"><button type="button" class="btn col-12 btn-export">Apply</button></div>
            </div>
        </div>
    </div>
    <input type="text" class="form-control" placeholder="Search">
</div>