

    <div class="planning filter">
        <div class="d-flex justify-content-between ">
            <h3 class="header-text">Planning</h3>
        </div>
        <div class="row">
            <div class="col planning-box mt-3">
                <div class="product-type p-3">
                    <h5>Activewear</h5>
                </div>
                <div class="table-responsive">
                <Table Hoverable>
                    <TableHeader>
                        <TableRow>
                            <TableHeaderCell>First Name</TableHeaderCell>
                            <TableHeaderCell>Second Name</TableHeaderCell>
                            <TableHeaderCell>Influencer Status</TableHeaderCell>
                            <TableHeaderCell>Collection Status</TableHeaderCell>
                            <TableHeaderCell>Summer Collection Timeline (March)</TableHeaderCell>
                            <TableHeaderCell>Winter Collection Timeline (September)</TableHeaderCell>
                        </TableRow>
                    </TableHeader>
                    <TableBody>
                       <TableRow>
                            <TableRowCell>Mark</TableRowCell>
                            <TableRowCell>Otto</TableRowCell>
                            <TableRowCell><span class="badge badge-green">Onboarded</span></TableRowCell>
                            <TableRowCell><span class="badge badge-danger">Launch Finished</span></TableRowCell>
                            <TableRowCell><span class="badge badge-green">On Track</span></TableRowCell>
                            <TableRowCell><span class="badge badge-green">On Track</span></TableRowCell>
                        </TableRow>
                        <TableRow>
                            <TableRowCell>Mark</TableRowCell>
                            <TableRowCell>Otto</TableRowCell>
                            <TableRowCell><span class="badge badge-green">Onboarded</span></TableRowCell>
                            <TableRowCell><span class="badge badge-blue">On Going 3D</span></TableRowCell>
                            <TableRowCell><span class="badge badge-green">On Track</span></TableRowCell>
                            <TableRowCell><span class="badge badge-green">On Track</span></TableRowCell>
                        </TableRow>
                        <TableRow>
                            <TableRowCell>Mark</TableRowCell>
                            <TableRowCell>Otto</TableRowCell>
                            <TableRowCell><span class="badge badge-green">Onboarded</span></TableRowCell>
                            <TableRowCell><span class="badge badge-light-purple">Sample Sent</span></TableRowCell>
                            <TableRowCell><span class="badge badge-green">On Track</span></TableRowCell>
                            <TableRowCell><span class="badge badge-green">On Track</span></TableRowCell>
                        </TableRow>
                          <TableRow>
                            <TableRowCell>Mark</TableRowCell>
                            <TableRowCell>Otto</TableRowCell>
                            <TableRowCell><span class="badge badge-green">Onboarded</span></TableRowCell>
                            <TableRowCell><span class="badge badge-danger">Launch Finished</span></TableRowCell>
                            <TableRowCell><span class="badge badge-green">On Track</span></TableRowCell>
                            <TableRowCell><span class="badge badge-green">On Track</span></TableRowCell>
                        </TableRow>
                        <TableRow>
                            <TableRowCell>Mark</TableRowCell>
                            <TableRowCell>Otto</TableRowCell>
                            <TableRowCell><span class="badge badge-green">Onboarded</span></TableRowCell>
                            <TableRowCell><span class="badge badge-blue">On Going 3D</span></TableRowCell>
                            <TableRowCell><span class="badge badge-green">On Track</span></TableRowCell>
                            <TableRowCell><span class="badge badge-green">On Track</span></TableRowCell>
                        </TableRow>
                        <TableRow>
                            <TableRowCell>Mark</TableRowCell>
                            <TableRowCell>Otto</TableRowCell>
                            <TableRowCell><span class="badge badge-green">Onboarded</span></TableRowCell>
                            <TableRowCell><span class="badge badge-light-purple">Sample Sent</span></TableRowCell>
                            <TableRowCell><span class="badge badge-green">On Track</span></TableRowCell>
                            <TableRowCell><span class="badge badge-green">On Track</span></TableRowCell>
                        </TableRow>
                          <TableRow>
                            <TableRowCell>Mark</TableRowCell>
                            <TableRowCell>Otto</TableRowCell>
                            <TableRowCell><span class="badge badge-green">Onboarded</span></TableRowCell>
                            <TableRowCell><span class="badge badge-danger">Launch Finished</span></TableRowCell>
                            <TableRowCell><span class="badge badge-green">On Track</span></TableRowCell>
                            <TableRowCell><span class="badge badge-green">On Track</span></TableRowCell>
                        </TableRow>
                        <TableRow>
                            <TableRowCell>Mark</TableRowCell>
                            <TableRowCell>Otto</TableRowCell>
                            <TableRowCell><span class="badge badge-green">Onboarded</span></TableRowCell>
                            <TableRowCell><span class="badge badge-blue">On Going 3D</span></TableRowCell>
                            <TableRowCell><span class="badge badge-green">On Track</span></TableRowCell>
                            <TableRowCell><span class="badge badge-green">On Track</span></TableRowCell>
                        </TableRow>
                        <TableRow>
                            <TableRowCell>Mark</TableRowCell>
                            <TableRowCell>Otto</TableRowCell>
                            <TableRowCell><span class="badge badge-green">Onboarded</span></TableRowCell>
                            <TableRowCell><span class="badge badge-light-purple">Sample Sent</span></TableRowCell>
                            <TableRowCell><span class="badge badge-green">On Track</span></TableRowCell>
                            <TableRowCell><span class="badge badge-green">On Track</span></TableRowCell>
                        </TableRow>
                    </TableBody>
                </Table>
                </div>
            </div>
            <div class="col planning-box mt-3">
               <div class="product-type p-3">
                    <h5>Knitwear</h5>
                </div>
                <div class="table-responsive">
                <Table Hoverable>
                    <TableHeader>
                        <TableRow>
                            <TableHeaderCell>First Name</TableHeaderCell>
                            <TableHeaderCell>Second Name</TableHeaderCell>
                            <TableHeaderCell>Influencer Status</TableHeaderCell>
                            <TableHeaderCell>Collection Status</TableHeaderCell>
                            <TableHeaderCell>Summer Collection Timeline (March)</TableHeaderCell>
                            <TableHeaderCell>Winter Collection Timeline (September)</TableHeaderCell>
                        </TableRow>
                    </TableHeader>
                    <TableBody>
                        <TableRow>
                            <TableRowCell>Mark</TableRowCell>
                            <TableRowCell>Otto</TableRowCell>
                            <TableRowCell><span class="badge badge-green">Onboarded</span></TableRowCell>
                            <TableRowCell><span class="badge badge-danger">Launch Finished</span></TableRowCell>
                            <TableRowCell><span class="badge badge-green">On Track</span></TableRowCell>
                            <TableRowCell><span class="badge badge-green">On Track</span></TableRowCell>
                        </TableRow>
                        <TableRow>
                            <TableRowCell>Mark</TableRowCell>
                            <TableRowCell>Otto</TableRowCell>
                            <TableRowCell><span class="badge badge-green">Onboarded</span></TableRowCell>
                            <TableRowCell><span class="badge badge-blue">On Going 3D</span></TableRowCell>
                            <TableRowCell><span class="badge badge-green">On Track</span></TableRowCell>
                            <TableRowCell><span class="badge badge-green">On Track</span></TableRowCell>
                        </TableRow>
                        <TableRow>
                            <TableRowCell>Mark</TableRowCell>
                            <TableRowCell>Otto</TableRowCell>
                            <TableRowCell><span class="badge badge-green">Onboarded</span></TableRowCell>
                            <TableRowCell><span class="badge badge-light-purple">Sample Sent</span></TableRowCell>
                            <TableRowCell><span class="badge badge-green">On Track</span></TableRowCell>
                            <TableRowCell><span class="badge badge-green">On Track</span></TableRowCell>
                        </TableRow>
                          <TableRow>
                            <TableRowCell>Mark</TableRowCell>
                            <TableRowCell>Otto</TableRowCell>
                            <TableRowCell><span class="badge badge-green">Onboarded</span></TableRowCell>
                            <TableRowCell><span class="badge badge-danger">Launch Finished</span></TableRowCell>
                            <TableRowCell><span class="badge badge-green">On Track</span></TableRowCell>
                            <TableRowCell><span class="badge badge-green">On Track</span></TableRowCell>
                        </TableRow>
                        <TableRow>
                            <TableRowCell>Mark</TableRowCell>
                            <TableRowCell>Otto</TableRowCell>
                            <TableRowCell><span class="badge badge-green">Onboarded</span></TableRowCell>
                            <TableRowCell><span class="badge badge-blue">On Going 3D</span></TableRowCell>
                            <TableRowCell><span class="badge badge-green">On Track</span></TableRowCell>
                            <TableRowCell><span class="badge badge-green">On Track</span></TableRowCell>
                        </TableRow>
                        <TableRow>
                            <TableRowCell>Mark</TableRowCell>
                            <TableRowCell>Otto</TableRowCell>
                            <TableRowCell><span class="badge badge-green">Onboarded</span></TableRowCell>
                            <TableRowCell><span class="badge badge-light-purple">Sample Sent</span></TableRowCell>
                            <TableRowCell><span class="badge badge-green">On Track</span></TableRowCell>
                            <TableRowCell><span class="badge badge-green">On Track</span></TableRowCell>
                        </TableRow>
                          <TableRow>
                            <TableRowCell>Mark</TableRowCell>
                            <TableRowCell>Otto</TableRowCell>
                            <TableRowCell><span class="badge badge-green">Onboarded</span></TableRowCell>
                            <TableRowCell><span class="badge badge-danger">Launch Finished</span></TableRowCell>
                            <TableRowCell><span class="badge badge-green">On Track</span></TableRowCell>
                            <TableRowCell><span class="badge badge-green">On Track</span></TableRowCell>
                        </TableRow>
                        <TableRow>
                            <TableRowCell>Mark</TableRowCell>
                            <TableRowCell>Otto</TableRowCell>
                            <TableRowCell><span class="badge badge-green">Onboarded</span></TableRowCell>
                            <TableRowCell><span class="badge badge-blue">On Going 3D</span></TableRowCell>
                            <TableRowCell><span class="badge badge-green">On Track</span></TableRowCell>
                            <TableRowCell><span class="badge badge-green">On Track</span></TableRowCell>
                        </TableRow>
                        <TableRow>
                            <TableRowCell>Mark</TableRowCell>
                            <TableRowCell>Otto</TableRowCell>
                            <TableRowCell><span class="badge badge-green">Onboarded</span></TableRowCell>
                            <TableRowCell><span class="badge badge-light-purple">Sample Sent</span></TableRowCell>
                            <TableRowCell><span class="badge badge-green">On Track</span></TableRowCell>
                            <TableRowCell><span class="badge badge-green">On Track</span></TableRowCell>
                        </TableRow>
                    </TableBody>
                </Table>
                </div>
            </div>
          
        </div>
    </div>
