@page "/influencers/sizing"

<NavInfluencerDetail></NavInfluencerDetail>

<CascadingValue Value="@Module" Name="Module">
    <CascadingValue Value="@ModuleMessage" Name="ModuleMessage">
        <CascadingValue Value="@ModuleChange" Name="ModuleChange">
            <BannerLayouts></BannerLayouts>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>

<div class="row sizing">
    <div class="col-md-12">
       <ToziAccountInformation></ToziAccountInformation>
    </div>
    <div class="col-md-12">
      <ToziMeasurements></ToziMeasurements>
    </div>
</div>