<div class="border rounded-lg p-4 roll_loc shadow-sm bg-white mb-3">
    <InfluencerStatus></InfluencerStatus>
    <CollectionSample></CollectionSample>
</div>
<div class="border rounded-lg p-4 roll_loc shadow-sm bg-white mb-3 planning">
    <Planning></Planning>
</div>
<DashboardUpcomingLaunches></DashboardUpcomingLaunches>
