                            <table class="table">
                            <thead>
                                <tr>
                                    <th class="tb-header"></th>
                                    <th class="tb-header">Shared Percentage</th>
                                    <th class="tb-header"></th>
                                    <th class="tb-header">Payout Schedule</th>
                                    
                             
                                </tr>
                            </thead>
                            <tbody>
                           
                                    <tr>
                                        <td class="tb-td-text">OEM</td>
                                        <td class="tb-td-text"><input class="form-control mb-2 form-control-sm width__input"></td>  
                                        <td class="tb-td-text small">%</td>
                                        <td class="tb-td-text">
                                            <select class="form-control mb-2 form-control-sm width__input">
                                                 <option>Monthly</option>
                                             </select>
                                        
                                        </td>
                                        
                                    </tr>  
                                     <tr>
                                        <td class="tb-td-text">SSY</td>
                                        <td class="tb-td-text"><input class="form-control mb-2 form-control-sm width__input"></td>  
                                        <td class="tb-td-text small">%</td>
                                        <td class="tb-td-text">
                                            <select class="form-control mb-2 form-control-sm width__input">
                                                 <option>Monthly</option>
                                             </select>
                                        
                                        </td>
                                        
                                    </tr>  
                                     <tr>
                                        <td class="tb-td-text">Influencer</td>
                                        <td class="tb-td-text"><input class="form-control mb-2 form-control-sm width__input"></td>  
                                        <td class="tb-td-text small">%</td>
                                        <td class="tb-td-text">
                                            <select class="form-control mb-2 form-control-sm width__input">
                                                 <option>Monthly</option>
                                             </select>
                                        
                                        </td>
                                        
                                    </tr>  
                                     <tr>
                                        <td class="tb-td-text">Tuloy</td>
                                        <td class="tb-td-text"><input class="form-control mb-2 form-control-sm width__input"></td>  
                                        <td class="tb-td-text small">%</td>
                                        <td class="tb-td-text">
                                            <select class="form-control mb-2 form-control-sm width__input">
                                                 <option>Monthly</option>
                                             </select>
                                        
                                        </td>
                                        
                                    </tr>  
                                    
                                          
                            </tbody>
                        </table>