.buttons[b-90ngp27tmn] {
    text-align: right;
}
button.btn.btn-lg.btn-danger.buttons__class[b-90ngp27tmn] {
    background: #646D7B;
    border-color: #646D7B;
}
.buttons__class[b-90ngp27tmn] {
    font-size: 15px;
}
.background[b-90ngp27tmn] {
    padding: 10px;
}