@inherits LayoutComponentBase


<div class="container-fluid full-height">
    <div class="row">

        <div class="col-lg-6 col-md-12 col-sm-12 bg-image header fixed-top">
            @* <img src="/img/FFIconSM.svg" class="center vertical-center image_header" /> *@
            <div src="/img/FFIconSM.svg" class="center vertical-center image_header">
            </div>
            <p class="auth-copy-right-lg">© Copyright 2023 - All rights reserved.</p>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 col-12  horizontal-center auth-body ">
            @Body
            @* <footer> *@
                <p class="text-center auth-copy-right-sm mt-3">© Copyright 2023 - All rights reserved.</p>
            @* </footer> *@
        </div>

    </div>


</div>