    <div class="border rounded-lg p-4 shadow-sm bg-white">
        <div class="d-flex justify-content-between " data-target="#collectionProgress" data-toggle="collapse">
            <div class="col-md-11">
                <h3 class="header-text">Collection Progress</h3>
            </div>
            <div class="col-md-1">
                <i class="fa fa-light fa-chevron-down pull-right accordion-dropdown-icon"></i>
            </div>
        </div>

        

    <div class="row custom__overideWTH collapse show" id="collectionProgress">
    
       
            <div class="col-md-2 d-flex align-items-center justify-content-center">
                <h7 class="tb-header">Collection Development</h7>
            </div>
            <div class="col-md-2 d-flex align-items-center justify-content-center">
                <h7 class="tb-header">Design Draft</h7>
            </div>
            <div class="col-md-2 d-flex align-items-center justify-content-center">
                <h7 class="tb-header">3D Virtual Fitting</h7>
            </div>
            <div class="col-md-2 d-flex align-items-center justify-content-center">
                <h7 class="tb-header">Fit Sample</h7>
            </div>
            <div class="col-md-2 d-flex align-items-center justify-content-center">
                <h7 class="tb-header">Photo Sample</h7>
            </div>
            <div class="col-md-2 d-flex align-items-center justify-content-center">
                <h7 class="tb-header">Lauch Ready</h7>
            </div>
    
            <div class="col-md-2 d-flex align-items-center justify-content-center" style="font-size:12px;">
                <span class="badge badge-success color__circle"></span> @CollectionModel.CollectionDevelopmentStartDate.ToString("MMMM dd, yyyy")
            </div>
            <div class="col-md-2 d-flex align-items-center justify-content-center" style="font-size:12px;">
                <span class="badge badge-secondary color__circle"></span>
            </div>
            <div class="col-md-2 d-flex align-items-center justify-content-center">
                <span class="badge badge-secondary color__circle"></span>
            </div>
            <div class="col-md-2 d-flex align-items-center justify-content-center">
                <span class="badge badge-secondary color__circle"></span>
            </div>
            <div class="col-md-2 d-flex align-items-center justify-content-center">
                <span class="badge badge-secondary color__circle"></span>
            </div>
            <div class="col-md-2 d-flex align-items-center justify-content-center">
                <span class="badge badge-secondary color__circle"></span>
            </div>
        

        @*<div class="pl-3 pr-3 table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="tb-header">Collection Development</th>
                        <th class="tb-header">Design Draft</th>
                        <th class="tb-header">3D Virtual Fitting</th>
                        <th class="tb-header">Fit Sample</th>
                        <th class="tb-header">Photo Sample</th>
                        <th class="tb-header">Lauch Ready</th>

                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td class="tb-td-text"><span class="badge badge-success color__circle"></span>@GetCollectionModel.Result.CreationTime.ToString("MMMM dd, yyyy")</td>
                        <td class="tb-td-text"><span class="badge badge-success color__circle"></span>June 2, 2022</td>
                        <td class="tb-td-text"><span class="badge badge-secondary color__circle"></span></td>
                        <td class="tb-td-text"><span class="badge badge-secondary color__circle"></span></td>
                        <td class="tb-td-text"><span class="badge badge-secondary color__circle"></span></td>
                        <td class="tb-td-text"><span class="badge badge-secondary color__circle"></span></td>
                    </tr>

                </tbody>
            </table>
        </div>*@

    </div>
        </div>


