<div class="dashboard-subheader">
        <h3>Forecasting</h3>
</div>

    <div class="border rounded-lg p-4 shadow-sm bg-white dashboard-sales">

        @* <div class="d-flex justify-content-between " data-target="#assignedTo" data-toggle="collapse">
            <div class="col-md-11">
                <h3 class="header-text">Assigned To</h3>
            </div>
            <div class="col-md-1">
                <i class="fa fa-light fa-chevron-down pull-right accordion-dropdown-icon"></i>
            </div>
        </div> *@

        <div class="past-launch collapse show">
            <div class="col-3 mb-3 mt-3 ">
                <div class="border rounded-sm bg-white text-dark pl-3 pr-3">
                    <!--!-->
                    <h5 class="mt-2 text-muted input-text">Filter</h5>
                    <!--!-->
                    <select placeholder="Select Category" class="form-control mb-2 form-control-sm bg-white for-border valid">
                        <option value="1001">All</option>
                        <option value="1002">Per Product Type</option>
                        <option value="1003">By Season</option>
                    </select>
                </div>
            </div>
           <Table>
                <TableHeader>
                    <TableRow>
                        <TableHeaderCell><p class="title">First Name</p></TableHeaderCell>
                        <TableHeaderCell><p class="title">Second Name</p></TableHeaderCell>
                        <TableHeaderCell><p class="title">Number of Launches</p></TableHeaderCell>
                        <TableHeaderCell><p class="title">Activewear Forecast Qty</p></TableHeaderCell>
                        <TableHeaderCell><p class="title">Activewear Forecast $</p></TableHeaderCell>
                        <TableHeaderCell><p class="title">Knitwear Forecast Qty</p></TableHeaderCell>
                        <TableHeaderCell><p class="title">Knitwear Forecast $</p></TableHeaderCell>
                    </TableRow>
                </TableHeader>
                <TableBody>
                    <TableRow>
                        <TableRowCell><p class="body-text">Mark</p></TableRowCell>
                        <TableRowCell><p class="body-text">Mark</p></TableRowCell>
                        <TableRowCell><p class="body-text">Otto</p></TableRowCell>
                        <TableRowCell><p class="body-text">@@mdo</p></TableRowCell>
                        <TableRowCell><p class="body-text">@@mdo</p></TableRowCell>
                        <TableRowCell><p class="body-text">Mark</p></TableRowCell>
                        <TableRowCell><p class="body-text">Mark</p></TableRowCell>
                    </TableRow>
                    <TableRow>
                       <TableRowCell><p class="body-text">Mark</p></TableRowCell>
                        <TableRowCell><p class="body-text">Mark</p></TableRowCell>
                        <TableRowCell><p class="body-text">Otto</p></TableRowCell>
                        <TableRowCell><p class="body-text">@@mdo</p></TableRowCell>
                        <TableRowCell><p class="body-text">@@mdo</p></TableRowCell>
                        <TableRowCell><p class="body-text">Mark</p></TableRowCell>
                        <TableRowCell><p class="body-text">Mark</p></TableRowCell>
                    </TableRow>
                    <TableRow>
                       <TableRowCell><p class="body-text">Mark</p></TableRowCell>
                        <TableRowCell><p class="body-text">Mark</p></TableRowCell>
                        <TableRowCell><p class="body-text">Otto</p></TableRowCell>
                        <TableRowCell><p class="body-text">@@mdo</p></TableRowCell>
                        <TableRowCell><p class="body-text">@@mdo</p></TableRowCell>
                        <TableRowCell><p class="body-text">Mark</p></TableRowCell>
                        <TableRowCell><p class="body-text">Mark</p></TableRowCell>
                    </TableRow>
                </TableBody>
            </Table>
        </div>
</div>