
        <div class="rounded-lg border shadow-sm sales__report bg-white">
            <div class="d-flex justify-content-between rounded-sm p-3  ">
                <div class=" font-weight-bolder dashboard-header-text">Sales Report</div>
            </div>


            <div class=" pr-4 pl-4 pb-3">
                <div class="form-group">
                    <p class="date-text">DATE COVERED FROM</p>
                    <div class="row">
                        <div class="col-6">
                            <div>
                                <h5 class=" text-muted input-text">From</h5>
                                <input type="date" class="form-control input-sm">
                            </div>
                        </div>
                        <div class="col-6">
                            <div>
                                <h5 class=" text-muted input-text">To</h5>
                                <input type="date" class="form-control input-sm">
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-lg-3 col-md-12">
                            <div class="border rounded-lg shadow-sm mt-3 text-center p-2">

                                <span class="sales-number">87</span>
                                <br>
                                <span class="sales-text"> ORDERS</span>

                            </div>
                        </div>

                        <div class="col-lg-3 col-md-12">
                            <div class="border rounded-lg shadow-sm mt-3 text-center p-2">

                                <span class="sales-number">334</span>
                                <br>
                                <span class="sales-text">ITEMS</span>

                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="border rounded-lg shadow-sm mt-3 text-center p-2">

                                <span class="sales-number">$ 129,919,928.2</span>
                                <br>
                                <span class="sales-text"> SALES</span>

                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">

                        <div class="col-12">
                            <div class="">
                                <div class="d-flex justify-content-between pl-4 pr-5 mb-2">
                                    <h5 class="header-text">By Product</h5>
                                    <button class=" btn view-details">View Details</button>
                                </div>
                                <div class="row">
                                    <div class="col-12 ">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>PRODUCT</th>
                                                        <th>INFLUENCER</th>
                                                        <th>COLLECTION</th>
                                                        <th>ITEMS</th>
                                                        <th>SALES</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Born to Sweat Adjustable Mask - Light Grey</td>
                                                        <td>26-Oct-20</td>
                                                        <td>19,322.22</td>
                                                        <td>2,242.23</td>
                                                        <td>1,522.24</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
 