.for__inline {
    display: inline-flex;
}

    .for__inline h5 {
        border-right: 1px #dee2e6 solid;
    }

    .for__inline p {
        font-size: 13px;
        margin: 21px;
    }

h5.title__collection {
    font-size: 13px;
    padding-top: 16px;
    margin-top: 6px;
    padding-right: 12px;
}

[contenteditable][placeholder]:empty:before {
    content: attr(placeholder);
    position: absolute;
    color: gray;
    background-color: transparent;
}

.btn.dropdown-toggle {
    width: 100%;
}

button#applyButton {
    padding-left: 10px;
    color: white;
}

svg.bi.bi-trash3#deleteColorOption {
    margin: 0px;
}

.header-text {
    color: #486CD9;
}

.row.fieldheader {
    margin: 0px;
    height: 20px;
}

.row.fieldcontent {
    margin: 0px;
}

.fieldBody {
    margin: 5px;
    /*    height: 54px;*/
    /*    margin-bottom: 10px;*/
    border-radius: 5px;
}

.inputfield {
    font-size: 12px;
}

.custom-button {
    background-color: #486CD9;
    width: 320px;
}

.text-deco-none {
    text-decoration: none
}

.graph-text {
    font: var(--unnamed-font-style-normal) normal 900 var(--unnamed-font-size-14)/12px Avenir;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(---333333);
    text-align: center;
    font: normal normal 900 14px/12px Avenir;
    letter-spacing: 0px;
    color: #333333;
    text-transform: uppercase;
    opacity: 1;
}

.nav-tabs-views a {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-12) var(--unnamed-font-family-avenir);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-5a5a5a);
    text-align: center;
    font: normal normal medium 14px/12px Avenir;
    letter-spacing: 0px;
    color: #5A5A5A;
    text-transform: uppercase;
    opacity: 0.5;
}

.nav-tabs-views li {
    margin: 10px;
}


.box-gray.for-count {
    text-align: center;
    background: #dddbdb;
    border-radius: 9px;
    padding: 17px;
    width: 242px;
}

.row.box-gray-layout {
    width: 800px;
    margin: auto;
    padding-bottom: 25px;
}

td.tb-td-text {
    text-align: center;
}

th.tb-header {
    text-align: center;
}

@media (max-width: 900px) {
    .row.box-gray-layout {
        width: 100% !important;
        display: block !important;
    }

    .box-gray.for-count {
        padding: 17px;
        display: block !important;
        margin: auto !important;
    }

    .row.box-gray-layout .col-4 {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 12px;
    }
}

a.active {
    color: #687a52 !important;
    padding: 6px;
    border-bottom: 2px solid #687a52;
    font-weight: 600 !important;
}

a {
    text-decoration: none !important;
}

h4.title-count-number {
    color: #687a52;
}

p.title-count {
    color: #687a52;
}

.footer__button {
    position: -webkit-sticky;
    position: fixed;
    background-color: #414A5A;
    bottom: 0;
}

.background {
    padding: 10px;
}

.buttons {
    text-align: right;
}

.mt-3, .my-3 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.buttons__class {
    font-size: 15px;
}

button.btn.btn-lg.btn-danger.buttons__class {
    background: #646D7B;
    border-color: #646D7B;
}

.btn-danger.focus, .btn-danger:focus {
    box-shadow: #646D7B !important;
}

a.btn.btn-lg.btn-success.buttons__class {
    background-color: #7B8E61;
    border-color: #7B8E61;
}

ul.nav.nav-tabs.nav-tabs-views.nav.justify-content-center.border.border-left-0.border-top-0.border-right-0.scrollmenu.nav-menu {
    font-size: 14px;
    font-family: avenir !important;
    font-weight: 700;
}

    ul.nav.nav-tabs.nav-tabs-views.nav.justify-content-center.border.border-left-0.border-top-0.border-right-0.scrollmenu.nav-menu li {
        margin-left: 27px;
        margin-right: 27px;
    }

button.btn.btn-lg.btn-success.buttons__class {
    background-color: #7B8E61;
    border-color: #7B8E61;
}

td.tb-td-text.align__left {
    text-align: left;
}

span.name__tbl {
    font-size: 15px;
    padding: 17px;
}

.color__circle {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    margin-left: 3px;
    margin-right: 3px;
}

.badge:empty {
    display: inline-flex;
}

.header-text {
    text-align: left;
    font: normal normal medium 20px/20px Avenir;
    letter-spacing: 0px;
    color: #7B8E61;
    opacity: 1;
}

.for__inline {
    display: inline-flex;
}

    .for__inline h5 {
        border-right: 1px #dee2e6 solid;
    }

    .for__inline p {
        font-size: 13px;
        margin: 21px;
    }

h5.title__collection {
    font-size: 13px;
    padding-top: 16px;
    margin-top: 6px;
    padding-right: 12px;
}

.border.rounded-sm.bg-light.text-dark.pl-3.pr-3 {
    margin-bottom: 4px;
    margin-top: 4px;
}

.for__inline .form-check {
    margin-right: 14px;
    margin-left: 14px;
}

.border.rounded-sm.bg-light.text-dark.pl-3.pr-3 {
    height: 72px;
}

.row.custom__overideWTH .mt-3 {
    padding-left: 3px;
    padding-right: 3px;
}

.thumbnail {
    border: solid 1px #B3B3B3;
    border-radius: 9px;
}

.header-title {
    border-bottom: solid 1px #B3B3B3;
    background: #eeeeee;
    border-radius: 8px 8px 0px 0px;
    margin-bottom: 10px;
}

.header__text {
    padding-left: 10px;
    padding-top: 7px;
}

.thumbnail p {
    font-size: 13px;
    padding-left: 7px;
    padding-right: 6px;
}

.divider {
    border-bottom: solid 1px #B3B3B3;
    margin-bottom: 10px;
}

button.btn.bg-btn.col-12.text-light.assign__button {
    background-color: #7B8E61;
    margin-bottom: 9px;
    margin-top: 19px;
}

.bg-btn {
    background-color: #7B8E61;
}

.make__spacing {
    padding: 10px;
}

.border.rounded-sm.bg-light.text-dark.pl-3.pr-3.placeholde__add {
    margin: 17px;
}

.thumbnail p {
    margin-bottom: 3px;
}

.thumbnail button.btn.bg-btn.text-light {
    display: block;
    margin: auto;
    margin-bottom: 14px;
}

button.form-control.col-12 {
    font-size: 12px;
}

div#material-type {
    background: white;
    padding-bottom: 14px;
    border: solid 1px #dee2e6;
    position: absolute;
    z-index: 2;
    width: 96.6%;
    margin-left: -17px;
    margin-top: 27px;
    height: 357px;
}

div#influencers {
    background: white;
    padding-bottom: 14px;
    border: solid 1px #dee2e6;
    z-index: 2;
    width: 105.8%;
    margin-left: -17px;
    margin-top: 8px;
    overflow-y: auto;
    height: 350px;
}

div#productTypes {
    background: white;
    padding-bottom: 14px;
    border: solid 1px #dee2e6;
    position: absolute;
    z-index: 2;
    width: 115%;
    margin-left: -17px;
    margin-top: 8px;
    overflow-y: auto;
    min-height: 25px;
    max-height: 350px;
}

.no-product-type {
    font-size: 12px;
}

button#influencerButton {
    height: 30px;
    padding-top: 4px;
    font-size: 14px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    transition: none;
    display: block;
    width: 100%;
    border: 0px;
    font-size: 12px;
    outline: none;
}

.fabric-dropdown-icon {
    float: right;
    margin-right: -5px;
    line-height: 1.2;
    font-size: 10px;
}

::deep select.modified.valid {
    outline: none;
    border: 0px;
}

::deep input {
    font-size: 12px;
    border: 0px;
    outline: none;
}

::deep select {
    font-size: 12px;
    border: 0px;
    outline: none;
}

::deep .valid.modified:not([type=checkbox]) {
    outline: none;
    border: 0px;
}

button#influencerButton:focus {
    outline: 0;
    box-shadow: none;
}

.for__checkbox {
    padding-left: 26px;
    background: white;
    border-radius: 3px;
    border: solid 1px #dee2e6;
    z-index: 2;
}

a.collapsable__item.mb-2.form-control-sm.dropdown {
    color: black;
    font-size: 11px;
}

.form-check.checkbox__producttype {
    font-size: 13px;
    padding-top: 22px;
}

a.collapsable__item {
    background: white;
    border: solid 1px #dee2e6;
    padding: 5px;
}

svg.bi.bi-trash3 {
    margin: auto;
    margin-top: 27px;
    display: block;
    margin-bottom: 27px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #7B8E61 !important;
    border-color: #adb5bd;
}

.custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
    box-shadow: none !important;
    border-color: #adb5bd;
}

.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none !important;
    border-color: #adb5bd;
}

.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
    background-color: #7B8E61;
    border-color: #adb5bd;
}

.influencerDropdown {
    border: 0px;
    font-size: 12px;
    outline: none;
}

.caretStyle {
    float: right;
    position: static;
}

.collectionName {
    border: 0;
    font-size: 12px;
}

.pricePoint {
    border: 0px;
    font-size: 12px;
    outline: none;
}

.factory {
    border: 0px;
    font-size: 12px;
    outline: none;
}

.materialType {
    border: 0px;
    font-size: 12px;
    outline: none;
}

.productType {
    border: 0px;
    font-size: 12px;
    outline: none;
}

.applyButton {
    margin-top: 15px;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #7B8E61;
}

.row.fieldcontent.dropdown.show {
    margin-left: 1px;
    margin-right: -8px;
}

i.fa.fa-exclamation-triangle.fabric-dropdown-icon.pull-right.caretStyle {
    font-size: 16px;
    color: #A35C3C;
}

.exclamation-tooltip {
    position: absolute;
    right: 6px;
    top: 0px;
}
