[contenteditable][placeholder]:empty:before {
    content: attr(placeholder);
    position: absolute;
    color: gray;
    background-color: transparent;
}

.bg-btn {
    background-color: #7B8E61;
}

.accordion-dropdown-icon {
    background: #EBEEEF;
    padding: 5px;
}

.header-text {
    color: #486CD9;
}

.custom-button {
    background-color: #486CD9;
    width: 320px;
}

.text-deco-none {
    text-decoration: none
}

.graph-text {
    font: var(--unnamed-font-style-normal) normal 900 var(--unnamed-font-size-14)/12px Avenir;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(---333333);
    text-align: center;
    font: normal normal 900 14px/12px Avenir;
    letter-spacing: 0px;
    color: #333333;
    text-transform: uppercase;
    opacity: 1;
}

.nav-tabs-views a {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-12) var(--unnamed-font-family-avenir);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-5a5a5a);
    text-align: center;
    font: normal normal medium 14px/12px Avenir;
    letter-spacing: 0px;
    color: #5A5A5A;
    text-transform: uppercase;
    opacity: 0.5;
}

.nav-tabs-views li {
    margin: 10px;
}


.box-gray.for-count {
    text-align: center;
    background: #dddbdb;
    border-radius: 9px;
    padding: 17px;
    width: 242px;
}

.row.box-gray-layout {
    width: 800px;
    margin: auto;
    padding-bottom: 25px;
}

td.tb-td-text {
    text-align: center;
}

th.tb-header {
    text-align: center;
}

.tableText {
    color: inherit;
    text-decoration: none;
}

@media (max-width: 900px) {
    .row.box-gray-layout {
        width: 100% !important;
        display: block !important;
    }

    .box-gray.for-count {
        padding: 17px;
        display: block !important;
        margin: auto !important;
    }

    .row.box-gray-layout .col-4 {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 12px;
    }
}

a.active {
    color: #687a52 !important;
    padding: 6px;
    border-bottom: 2px solid #687a52;
    font-weight: 600 !important;
}

a {
    text-decoration: none !important;
}

h4.title-count-number {
    color: #687a52;
}

p.title-count {
    color: #687a52;
}

div#influencers {
    background: white;
    padding-left: 32px;
    padding-bottom: 14px;
    border: solid 2px #dee2e6;
    position: absolute;
    z-index: 2;
    width: 88%;
}

.footer__button {
    position: -webkit-sticky;
    position: sticky;
    background-color: #414A5A;
    bottom: 0;
}

.background {
    padding: 10px;
}

.buttons {
    text-align: right;
}

.mt-3, .my-3 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.buttons__class {
    font-size: 15px;
}

button.btn.btn-lg.btn-danger.buttons__class {
    background: #646D7B;
    border-color: #646D7B;
}

.btn-danger.focus, .btn-danger:focus {
    box-shadow: #646D7B !important;
}

a.btn.btn-lg.btn-success.buttons__class {
    background-color: #7B8E61;
    border-color: #7B8E61;
}

ul.nav.nav-tabs.nav-tabs-views.nav.justify-content-center.border.border-left-0.border-top-0.border-right-0.scrollmenu.nav-menu {
    font-size: 14px;
    font-family: avenir !important;
    font-weight: 700;
}

    ul.nav.nav-tabs.nav-tabs-views.nav.justify-content-center.border.border-left-0.border-top-0.border-right-0.scrollmenu.nav-menu li {
        margin-left: 27px;
        margin-right: 27px;
    }

button.btn.btn-lg.btn-success.buttons__class {
    background-color: #7B8E61;
    border-color: #7B8E61;
}

td.tb-td-text.align__left {
    text-align: left;
}

span.name__tbl {
    font-size: 15px;
    padding: 17px;
}

.color__circle {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    margin-left: 3px;
    margin-right: 3px;
}

.badge:empty {
    display: inline-flex;
}

.header-text {
    text-align: left;
    font: normal normal medium 20px/20px Avenir;
    letter-spacing: 0px;
    color: #7B8E61;
    opacity: 1;
}

.for__inline {
    display: inline-flex;
}

    .for__inline h5 {
        border-right: 1px #dee2e6 solid;
    }

    .for__inline p {
        font-size: 13px;
        margin: 21px;
    }

h5.title__collection {
    font-size: 13px;
    padding-top: 16px;
    margin-top: 6px;
    padding-right: 12px;
}

.border.rounded-sm.bg-light.text-dark.pl-3.pr-3 {
    margin-bottom: 4px;
    margin-top: 4px;
}

.for__inline .form-check {
    margin-right: 14px;
    margin-left: 14px;
}

.border.rounded-sm.bg-light.text-dark.pl-3.pr-3 {
    height: 72px;
}

.row.custom__overideWTH .mt-3 {
    padding-left: 3px;
    padding-right: 3px;
}

.thumbnail {
    border: solid 1px #B3B3B3;
    border-radius: 9px;
}

.header-title {
    border-bottom: solid 1px #B3B3B3;
    background: #eeeeee;
    border-radius: 8px 8px 0px 0px;
    margin-bottom: 10px;
}

.header__text {
    padding-left: 10px;
    padding-top: 7px;
}

.thumbnail p {
    font-size: 13px;
    padding-left: 7px;
    padding-right: 6px;
}

.divider {
    border-bottom: solid 1px #B3B3B3;
    margin-bottom: 10px;
}

button.btn.bg-btn.col-12.text-light.assign__button {
    background-color: #7B8E61;
    margin-bottom: 9px;
    margin-top: 19px;
}

::deep .inputfield-editable {
    border: 0px;
    font-size: 12px;
    outline: none;
    color: black !important;
    width: 100%;
}

.inputfield-editable {
    border: 1px solid #DEE2E6;
    font-size: 12px;
    outline: none;
    color: black !important;
    width: 100%;
}

.table-hover tbody tr:hover {
    background-color: unset;
}

.border-0 {
    border: 0 !important;
    border-bottom: 0.5px solid #e9e0e0 !important;
}
