[contenteditable][placeholder]:empty:before {
    content: attr(placeholder);
    position: absolute;
    color: gray;
    background-color: transparent;
  }



  .header-text{
    color: #486CD9;
  }
  
  .custom-button {
    background-color: #486CD9;
    width: 320px;
  }

  .text-deco-none{ text-decoration: none }

  .graph-text{
font: var(--unnamed-font-style-normal) normal 900 var(--unnamed-font-size-14)/12px Avenir;
letter-spacing: var(--unnamed-character-spacing-0);
color: var(---333333);
text-align: center;
font: normal normal 900 14px/12px Avenir;
letter-spacing: 0px;
color: #333333;
text-transform: uppercase;
opacity: 1;
  }

  .nav-tabs-views a {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-12) var(--unnamed-font-family-avenir);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-5a5a5a);
    text-align: center;
    font: normal normal medium 14px/12px Avenir;
    letter-spacing: 0px;
    color: #5A5A5A;
    text-transform: uppercase;
    opacity: 0.5;
}
.nav-tabs-views li {
    margin: 10px;
}


.box-gray.for-count {
    text-align: center;
    background: #dddbdb;
    border-radius: 9px;
    padding: 17px;
    width: 242px;
}
.row.box-gray-layout {
    width: 800px;
    margin: auto;
    padding-bottom: 25px;
}
td.tb-td-text {
    text-align: center;
}
th.tb-header {
    text-align: center;
}
  @media (max-width: 900px) {
    .row.box-gray-layout {
        width: 100% !important;
        display: block !important;
    }
    .box-gray.for-count {
        padding: 17px;
        display: block !important;
        margin: auto !important;
    }
    .row.box-gray-layout .col-4 {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 12px;
    }
  }

  a.active {
    color: #687a52 !important;
    padding: 6px;
    border-bottom: 2px solid #687a52;
    font-weight: 600 !important;
}
a {
    text-decoration: none !important;
}
h4.title-count-number {
    color: #687a52;
}
p.title-count {
    color: #687a52;
}

.footer__button {
    position: -webkit-sticky;
    position: sticky;
    background-color: #414A5A;
    bottom: 0;
  }
.background {
    padding: 10px;
}
.buttons {
    text-align: right;
}
.mt-3, .my-3 {
    margin-top: 0!important;
    margin-bottom: 0 !important;
}
.buttons__class {
    font-size: 15px;
}

button.btn.btn-lg.btn-danger.buttons__class {
    background: #646D7B;
    border-color: #646D7B;
}
.btn-danger.focus, .btn-danger:focus {
    box-shadow: #646D7B !important;
  }
  
  a.btn.btn-lg.btn-success.buttons__class
{
  background-color: #7B8E61;
  border-color: #7B8E61;
}
ul.nav.nav-tabs.nav-tabs-views.nav.justify-content-center.border.border-left-0.border-top-0.border-right-0.scrollmenu.nav-menu {
    font-size: 14px;
    font-family: avenir !important;
    font-weight: 700;
  }
  ul.nav.nav-tabs.nav-tabs-views.nav.justify-content-center.border.border-left-0.border-top-0.border-right-0.scrollmenu.nav-menu li {
    margin-left: 27px;
    margin-right: 27px;
  }
  button.btn.btn-lg.btn-success.buttons__class {
    background-color: #7B8E61;
    border-color: #7B8E61;
} 
td.tb-td-text.align__left {
    text-align: left;
}
span.name__tbl {
    font-size: 15px;
    padding: 17px;
}
.color__circle {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    margin-left: 3px;
    margin-right: 3px;
}
.badge:empty {
    display: inline-flex;
}
.header-text {
    text-align: left;
    font: normal normal medium 20px/20px Avenir;
    letter-spacing: 0px;
    color: #7B8E61;
    opacity: 1;
}
.for__inline{
    display: inline-flex;
}
.for__inline h5{
    border-right: 1px #dee2e6 solid;
}
.for__inline p {
    font-size: 13px;
    margin: 21px;
}
h5.title__collection {
    font-size: 13px;
    padding-top: 16px;
    margin-top: 6px;
    padding-right: 12px;
}
.border.rounded-sm.bg-light.text-dark.pl-3.pr-3 {
    margin-bottom: 4px;
    margin-top: 4px;
}

.for__inline .form-check {
    margin-right: 14px;
    margin-left: 14px;
}
.border.rounded-sm.bg-light.text-dark.pl-3.pr-3{
    height: 72px;
}
.row.custom__overideWTH .mt-3 {
    padding-left: 3px;
    padding-right: 3px;
}
.thumbnail {
    border: solid 1px #B3B3B3;
    border-radius: 9px;
}
.header-title {
    border-bottom: solid 1px #B3B3B3;
    background: #eeeeee;
    border-radius: 8px 8px 0px 0px;
    margin-bottom: 10px;
}

.header__text {
    margin-left: 10px;
    padding-top: 10px;
}
.thumbnail p {
    font-size: 13px;
    padding-left: 7px;
    padding-right: 6px;
}
.divider {
    border-bottom: solid 1px #B3B3B3;
    margin-bottom: 10px;
}
button.btn.bg-btn.col-12.text-light.assign__button {
    background-color: #7B8E61;
    margin-bottom: 9px;
    margin-top: 19px;
}
.form-check label.form-check-label {
    margin-right: 32px;
}
p.text-muted.input-field-text.address.align__middle {
    padding: 29px;
    color: #7c8e61;
    font-size: 17px;
}
.dotted__uploader input#myFile {
    border-style: dashed;
    padding: 13px;
}
.dashed__uploader {
    padding: 13px;
    border: solid 1px #b1adad;
    margin-top: 6px;
}
.border.rounded-sm.bg-light.text-dark.pl-3.pr-3.input__padding {
    padding: 20px;
}   
input#myFile {
    width: 100%;
}
.bg-btn {
    background-color: #7B8E61;
    margin: 15px;
}
.inline__items {
    display: inline-flex;
}
.border__solid {
    border-right: solid 1px #dee2e6;
    margin-right: 85px;
}
.big__padding {
    padding: 43px;
    border: dashed #d7d4d4;
    margin: 23px;
}
.border__nopaddingsolid {
    border-right: 1px solid #d7d4d4;
}

.make__spacing {
    padding: 19px;
}
.big__padding {
    padding: 34px 18px 37px 14px;
    border: dashed #d7d4d4;
    font-size: 11px;
    margin: 0px;
}
.border.rounded-sm.bg-light.text-dark.pl-3.pr-3.w-minus {
    width: 30%;
}

.block-a {
    padding: 11px;
}
.half {
    border-right: solid 1px #b0adad;
}

.right {
    padding-left: 21px !important;
    padding-right: 21px !important;
}

.left {
    padding-left: 21px !important;
    padding-right: 21px !important;
}
a.align__middle {
    margin: 31px;
    text-align: center;
    color: #7c8e61 !important;
    font-weight: 500;
}
.footer__button {
    position: -webkit-sticky;
    position: sticky;
    background-color: #414A5A;
    bottom: 0;
}
.bg-btn {
    background-color: #7B8E61;
}
.inline__flex.filter.row {
    padding: 17px;
}