@inherits LayoutComponentBase


<ul class="nav justify-content-center border border-left-0 border-top-0 border-right-0 scrollmenu nav-menu">
    
    <li class="nav-item">
        <NavLink class="nav-link" href="/dashboard" Match="NavLinkMatch.All">
            <span aria-hidden="true"></span> Dashboard
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/influencers" Match="NavLinkMatch.All">
            <span aria-hidden="true"></span> Influencers
        </NavLink>
    </li>
</ul>

