<div class="col-md-12 mx-auto mt-5">
    <div class="input-group">
        <span class="input-group-append">
            <button class="btn btn-outline-secondary bg-white" type="button">
                <i class="fa fa-search"></i>
            </button>
        </span>
        <input class="form-control border-end-0 border" type="search" value="search"
               id="example-search-input">
    </div>
</div>
<div class="col-md-12 mt-5">
    <ul class="nav nav-tabs-views nav justify-content-center scrollmenu nav-menu settings__navs">
        <li><a data-toggle="tab" href="#marketingSocMed" class="active">Rules</a></li>
        <li><a data-toggle="tab" href="#prints">Create Product Option</a></li>
        <li><a data-toggle="tab" href="#prints">Create Design Option</a></li>
        <li><a data-toggle="tab" href="#documents">Create Design Flow</a></li>
    </ul>
</div>

<table class="table table-hover mt-3">
    <thead>
        <tr>
            <td><input type="checkbox"></td>
            <td>ID</td>
            <td>Design Option</td>
            <td>Category</td>

        </tr>
    </thead>

    <tbody>
        <tr>
            <td> <input type="checkbox"></td>
            <td>SFL</td>
            <td>SCARF LENGTH</td>
            <td>SCARF LENGTH</td>
        </tr>
        <tr>
            <td> <input type="checkbox"></td>
            <td>DS8</td>
            <td>Drop Shoulder</td>
            <td>SLEEVE STYLE (TTH), SLEEVE STYLE (THT), SLEEVE STYLE</td>
        </tr>
        <tr>
            <td> <input type="checkbox"></td>
            <td>FBS</td>
            <td>Front and Back Seam</td>
            <td>FRONT PANEL, BACK PANEL, FRONT AND BACK PANEL</td>
        </tr>
        <tr>
            <td> <input type="checkbox"></td>
            <td>SC8</td>
            <td>6 CM</td>
            <td>CUFF SIZE (TTH), CUFF SIZE</td>
        </tr>
    </tbody>

</table>