@page "/inventory/assignments"
@attribute [Authorize()]
<CascadingValue Value="@Module" Name="Module">
    <CascadingValue Value="@ModuleMessage" Name="ModuleMessage">
        <BannerLayoutSSY></BannerLayoutSSY>
    </CascadingValue>
</CascadingValue>

<GreigeLayoutTab />
<div class="row mt-3">
    <div class="col-12 ">

        <div class="pl-3 pr-3 table-responsive">
            <table class="table table-hover">

                <thead>
                    <tr>

                        <th class="tb-header">Product Name</th>
                        <th class="tb-header">Consumption</th>
                        <th class="tb-header">Product Type</th>
                        <th class="tb-header">Collection</th>
                        <th class="tb-header">Influencer</th>
                        <th class="tb-header">Created By</th>

                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td class="tb-td-text">April Daniels Blue Body Suit</td>
                        <td class="tb-td-text">1234</td>
                        <td class="tb-td-text">Jumpsuit</td>
                        <td class="tb-td-text">April Daniels SS21</td>
                        <td class="tb-td-text">April Daniels</td>
                        <td class="tb-td-text">April Daniels</td>
                    </tr>
                    <tr>
                        <td class="tb-td-text">April Daniels Blue Body Suit</td>
                        <td class="tb-td-text">1234</td>
                        <td class="tb-td-text">Jumpsuit</td>
                        <td class="tb-td-text">April Daniels SS21</td>
                        <td class="tb-td-text">April Daniels</td>
                        <td class="tb-td-text">April Daniels</td>
                    </tr>
                    <tr>
                        <td class="tb-td-text">April Daniels Blue Body Suit</td>
                        <td class="tb-td-text">1234</td>
                        <td class="tb-td-text">Jumpsuit</td>
                        <td class="tb-td-text">April Daniels SS21</td>
                        <td class="tb-td-text">April Daniels</td>
                        <td class="tb-td-text">April Daniels</td>
                    </tr>
                    <tr>
                        <td class="tb-td-text">April Daniels Blue Body Suit</td>
                        <td class="tb-td-text">1234</td>
                        <td class="tb-td-text">Jumpsuit</td>
                        <td class="tb-td-text">April Daniels SS21</td>
                        <td class="tb-td-text">April Daniels</td>
                        <td class="tb-td-text">April Daniels</td>
                    </tr>
                    <tr>
                        <td class="tb-td-text">April Daniels Blue Body Suit</td>
                        <td class="tb-td-text">1234</td>
                        <td class="tb-td-text">Jumpsuit</td>
                        <td class="tb-td-text">April Daniels SS21</td>
                        <td class="tb-td-text">April Daniels</td>
                        <td class="tb-td-text">April Daniels</td>
                    </tr>
                    <tr>
                        <td class="tb-td-text">April Daniels Blue Body Suit</td>
                        <td class="tb-td-text">1234</td>
                        <td class="tb-td-text">Jumpsuit</td>
                        <td class="tb-td-text">April Daniels SS21</td>
                        <td class="tb-td-text">April Daniels</td>
                        <td class="tb-td-text">April Daniels</td>
                    </tr>

                </tbody>



            </table>
        </div>
    </div>
</div>
<div class="col-md-12 col-sm-12 mt-3">
    <TimelineAndComments />
</div>