<div class="col-md-12 mt-5">
    <ul class="nav nav-tabs-views nav justify-content-center scrollmenu nav-menu settings__navs">
        <li><a data-toggle="tab" href="#marketingSocMed" class="active">Social Media</a></li>
        <li><a data-toggle="tab" href="#prints">Prints</a></li>
        <li><a data-toggle="tab" href="#documents">Documents</a></li>
    </ul>
</div>
<div class="col-md-12">
    <div class="tab-content">
        <div id="marketingSocMed" class="tab-pane fade in active show">
            <MarketingSocialMedia></MarketingSocialMedia>
        </div>
        <div id="prints" class="tab-pane fade">
            <MarketingPrints></MarketingPrints>
        </div>
        <div id="documents" class="tab-pane fade">
            <MarketingDocuments></MarketingDocuments>
        </div>
    </div>
</div>