[contenteditable][placeholder]:empty:before {
    content: attr(placeholder);
    position: absolute;
    color: gray;
    background-color: transparent;
}

.header-text {
    color: #486CD9;
}

.custom-button {
    background-color: #486CD9;
    width: 320px;
}

.text-deco-none {
    text-decoration: none
}

.graph-text {
    font: var(--unnamed-font-style-normal) normal 900 var(--unnamed-font-size-14)/12px Avenir;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(---333333);
    text-align: center;
    font: normal normal 900 14px/12px Avenir;
    letter-spacing: 0px;
    color: #333333;
    text-transform: uppercase;
    opacity: 1;
}

.row.drop_downs_columns {
    margin-right: 2px !important;
    margin-left: 2px !important;
    margin-top: 13px !important;
}

.form-control {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    height: 100%;
    padding: unset;
    font-size: 13px;
}

p.text-left.graph-text[b-tz8u1wrssp] {
    margin-bottom: 4px;
    margin-top: 6px;
    color: #aba9a9;
    font-size: 12px;
    font-weight: 500;
}

.form-group {
    margin-bottom: auto;
}

.col-sm-4.col-12.drop__downs {
    padding-left: 4px !important;
    padding-right: 5px !important;
    margin-bottom: 15px;
}

.pie__settings {
    position: relative;
    height: 296px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.barconfig__scale {
    position: relative;
    height: 343px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.barconfig__scale_warehouse {
    position: relative;
    height: 334px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.drop__downs.pie__graphs .border.rounded-sm.bg-light.text-dark.pl-3.pr-3 {
    /* margin: 2px; */
}
/*
tr.total__row {
    background-color: grey;
}
*/
ul.list-group {
    margin: 12px 18px 13px 19px;
}

li.listing__colors {
    list-style: none;
    font-size: 13px !important;
}

span.badge {
    border-radius: 19px;
    height: 17px;
    width: 17px;
    margin-right: 2px;
    padding: 6px;
}

li.listing__colors {
    width: 97px;
}

.spacer {
    padding: 19px;
}

.color-one {
    background-color: rgb(138, 78, 51) !important;
}

.color-two {
    background-color: rgb(245, 200, 166) !important;
}

.color-three {
    background-color: rgb(168, 194, 132) !important;
}

.color-four {
    background-color: rgb(220, 179, 150) !important;
}

.color-five {
    background-color: rgb(102, 117, 80) !important;
}

.color-six {
    background-color: rgb(103, 107, 112) !important;
}

.color-seven {
    background-color: rgb(245, 232, 225) !important;
}

.color-eight {
    background-color: rgb(48, 69, 20) !important;
}

.color-nine {
    background-color: rgb(163, 92, 61) !important;
}

.color-ten {
    background-color: rgb(231, 226, 223) !important;
}

.color-eleven {
    background-color: rgb(123, 142, 97) !important;
}

p.text-left.graph-text {
    margin-bottom: 4px;
    margin-top: 6px;
    color: #aba9a9;
    font-size: 12px;
    font-weight: 500;
}

.temporary__spacer {
    margin-bottom: 68px !important;
}

.temporarypie__spacer {
    margin-bottom: 51px;
}

@media screen and (max-width: 1252px) {
    p.text-left.graph-text {
        margin-bottom: 4px;
        margin-top: 6px;
        color: #aba9a9;
        font-size: 9px;
        font-weight: 300;
    }
}

@media screen and (max-width: 1144px) {
    .form-control {
        font-size: 8px;
    }

    p.text-left.graph-text {
        font-size: 8px;
        font-weight: 300;
    }
}

@media screen and (max-width: 1119px) {
    .drop__downs.pie__graphs .border.rounded-sm.bg-light.text-dark.pl-3.pr-3 {
        /* margin: 2px; */
        width: 96px;
    }
}

@media screen and (max-width: 991px) {
    .drop__downs.pie__graphs .border.rounded-sm.bg-light.text-dark.pl-3.pr-3 {
        /* margin: 2px; */
        width: 100%;
    }

    p.text-left.graph-text {
        margin-bottom: 4px;
        margin-top: 6px;
        color: #aba9a9;
        font-size: 12px;
        font-weight: 500;
    }

    .form-control {
        font-size: 13px;
    }
}

.graph-default-height {
    height: 400px;
}

.border.rounded-lg.shadow-sm.bg-white.b-spc {
    margin-bottom: 31px !important;
}
