@inherits LayoutComponentBase


<ul class="nav justify-content-center border border-left-0 border-top-0 border-right-0 scrollmenu nav-menu">
    @* <li class="nav-item">
        <NavLink class="nav-link" href="/inventory/overview" Match="NavLinkMatch.All">
        <span aria-hidden="true"></span> OVERVIEW
        </NavLink>
        </li> *@
    <li class="nav-item">
        <NavLink class="nav-link nav-title" Match="NavLinkMatch.All">
            <span aria-hidden="true">Overview</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z" />
            </svg>
        </NavLink>
        <div class="nav-display">
    <li class="nav-item">
        <NavLink class="nav-link" href="/inventory/reservationoverview" Match="NavLinkMatch.All">
            <span aria-hidden="true"></span> Reservation Overview
        </NavLink>
    </li>

    <li class="nav-item">
        <NavLink class="nav-link" href="/inventory/warehouseoverview" Match="NavLinkMatch.All">
            <span aria-hidden="true"></span> Warehouse Overview
        </NavLink>
    </li>
    </div>
    </li>

    <li class="nav-item">
        <NavLink class="nav-link nav-title" Match="NavLinkMatch.All">
            <span aria-hidden="true">Inventory</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z" />
            </svg>
        </NavLink>

        <div class="nav-display">
    <li class="nav-item">
        <NavLink class="nav-link" href="/inventory" Match="NavLinkMatch.All">
            <span aria-hidden="true"></span> ALL
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/inventory/greige" Match="NavLinkMatch.All">
            <span aria-hidden="true"></span> GREIGE
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/inventory/fabric" Match="NavLinkMatch.All">
            <span aria-hidden="true"></span> FABRIC
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/inventory/yarn" Match="NavLinkMatch.All">
            <span aria-hidden="true"></span> YARN
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/inventory/trimsandaccessories" Match="NavLinkMatch.All">
            <span aria-hidden="true"></span> TRIMS & ACCESSORIES
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/inventory/packaging" Match="NavLinkMatch.All">
            <span aria-hidden="true"></span> PACKAGING
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/inventory/others" Match="NavLinkMatch.All">
            <span aria-hidden="true"></span> OTHERS
        </NavLink>
    </li>
    </div>
    </li>


    <li class="nav-item">
        <NavLink class="nav-link" href="/inventory/suppliers" Match="NavLinkMatch.All">
            <span aria-hidden="true"></span> SUPPLIERS
        </NavLink>
    </li>

    <li class="nav-item">
        <NavLink class="nav-link nav-title" Match="NavLinkMatch.All">
            <span aria-hidden="true">Request</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z" />
            </svg>
        </NavLink>

        <div class="nav-display">
    <li class="nav-item">
        <NavLink class="nav-link" href="/inventory/purchaseorder" Match="NavLinkMatch.All">
            <span aria-hidden="true"></span> PURCHASE ORDER
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/inventory/disposal" Match="NavLinkMatch.All">
            <span aria-hidden="true"></span> DISPOSAL
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/inventory/additionrequest" Match="NavLinkMatch.All">
            <span aria-hidden="true"></span> ADDITION REQUEST
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/inventory/bulkpurchaseorderrequest" Match="NavLinkMatch.All">
            <span aria-hidden="true"></span> BULK PURCHASE ORDER REQUEST
        </NavLink>
    </li>
    </div>
    </li>
</ul>
