# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

 name: QA1-Manual Trigger

 
 on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:
 


 jobs:
   build:

     runs-on: ubuntu-latest

     steps:
     - uses: actions/checkout@v3
     - name: Setup .NET
       uses: actions/setup-dotnet@v3
       with:
         dotnet-version: 7.0.x
    
     - name: Restore dependencies
       run: dotnet restore
       working-directory: /home/runner/work/SSY/SSY/
       
     - name: Build
       run:  dotnet build
       working-directory: /home/runner/work/SSY/SSY/src/SSY.Blazor/
       
      
     - name: Publish
       run: dotnet publish --no-restore --nologo -c Release -o release
       working-directory: /home/runner/work/SSY/SSY/src/SSY.Blazor/
       
     - name: get directory
       run: dir
       working-directory: /home/runner/work/SSY/SSY/src/SSY.Blazor/

     - name: Upload Build Artifact
       uses: actions/upload-artifact@v3
       with:
         name: Artifact
         path: /home/runner/work/SSY/SSY/src/SSY.Blazor/release/${{ github.run_id }}

       
     
