  <div class="influencer-status collection-sample filter mt-5">
        <div class="d-flex justify-content-between ">
            <h3 class="header-text">Collection Sample</h3>
        </div>
        <div class="row">
            <div class="col-md-3" id="firstfit">
                <div class="row  firstfit-div">
                    <div class="col-8">
                      <p>1st Fit Samples Status</p>  
                    </div>
                    <div class="col-4">
                        <div class="status-left-box">
                            <p><span class="status-number">4</span></p>
                        </div>
                    </div>
                     <div id="firstfit-hover-data">
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action">
                                    <p class="text-dark title">April Daniels</p>
                                    <span class="text-muted sub-title">(April Daniels)</span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    <p class="text-dark title">April Daniels</p>
                                    <span class="text-muted sub-title">(April Daniels)</span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    <p class="text-dark title">April Daniels</p>
                                    <span class="text-muted sub-title">(April Daniels)</span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    <p class="text-dark title">April Daniels</p>
                                    <span class="text-muted sub-title">(April Daniels)</span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    <p class="text-dark title">April Daniels</p>
                                    <span class="text-muted sub-title">(April Daniels)</span>
                                </a>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-md-3" id="secondfit">
                <div class="row  secondfit-div">
                    <div class="col-8">
                      <p>2nd Fit Samples Status</p>  
                    </div>
                    <div class="col-4">
                        <div class="status-left-box">
                            <p><span class="status-number">4</span></p>
                        </div>
                    </div>
                     <div id="secondfit-hover-data">
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action">
                                    <p class="text-dark title">April Daniels</p>
                                    <span class="text-muted sub-title">(April Daniels)</span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    <p class="text-dark title">April Daniels</p>
                                    <span class="text-muted sub-title">(April Daniels)</span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    <p class="text-dark title">April Daniels</p>
                                    <span class="text-muted sub-title">(April Daniels)</span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    <p class="text-dark title">April Daniels</p>
                                    <span class="text-muted sub-title">(April Daniels)</span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    <p class="text-dark title">April Daniels</p>
                                    <span class="text-muted sub-title">(April Daniels)</span>
                                </a>
                        </div>
                    </div>
                </div>
            </div>
            
             <div class="col-md-3" id="photoshoot">
                <div class="row  photoshoot-div">
                    <div class="col-8">
                      <p>Photoshoot Sample Status</p>  
                    </div>
                    <div class="col-4">
                        <div class="status-left-box">
                            <p><span class="status-number">4</span></p>
                        </div>
                    </div>
                     <div id="photoshoot-hover-data">
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action">
                                    <p class="text-dark title">April Daniels</p>
                                    <span class="text-muted sub-title">(April Daniels)</span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    <p class="text-dark title">April Daniels</p>
                                    <span class="text-muted sub-title">(April Daniels)</span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    <p class="text-dark title">April Daniels</p>
                                    <span class="text-muted sub-title">(April Daniels)</span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    <p class="text-dark title">April Daniels</p>
                                    <span class="text-muted sub-title">(April Daniels)</span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    <p class="text-dark title">April Daniels</p>
                                    <span class="text-muted sub-title">(April Daniels)</span>
                                </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3" id="marketingqty">
                <div class="row  marketingqty-div">
                    <div class="col-8">
                      <p>Marketing Sample QTY</p>  
                    </div>
                    <div class="col-4">
                        <div class="status-left-box">
                            <p><span class="status-number">4</span></p>
                        </div>
                    </div>
                     <div id="marketingqty-hover-data">
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action">
                                    <p class="text-dark title">April Daniels</p>
                                    <span class="text-muted sub-title">(April Daniels)</span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    <p class="text-dark title">April Daniels</p>
                                    <span class="text-muted sub-title">(April Daniels)</span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    <p class="text-dark title">April Daniels</p>
                                    <span class="text-muted sub-title">(April Daniels)</span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    <p class="text-dark title">April Daniels</p>
                                    <span class="text-muted sub-title">(April Daniels)</span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    <p class="text-dark title">April Daniels</p>
                                    <span class="text-muted sub-title">(April Daniels)</span>
                                </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>